.free_delivery_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0px;
  background: #202945;
}
.free_delivery_banner .free_delivery_banner_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.free_delivery_banner .free_delivery_banner_item p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.free_delivery_banner > div:nth-of-type(1) {
  padding-right: 16px;
  border-right: 1px solid #868c9d;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .free_delivery_banner {
    padding: 7px 15px 7px;
  }
  .free_delivery_banner > div:nth-of-type(1) {
    padding-right: 12px;
    border-right: 1px solid #868c9d;
    margin-right: 12px;
  }

  basket-add-notice .free_delivery_banner {
    padding: 3px 10px;
  }
  basket-add-notice .free_delivery_banner + .b-t {
    border: none;
  }
}
