*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}
.accent_green {
  color: #017922;
}
#quizForYou {
  display: flex;
  border-radius: 0px 0px 8px 8px;
  background: #fff;
  justify-content: space-between;
  height: 100vh;
}
.img_wrapp {
  max-width: 620px;
  width: 100%;
}
.img_wrapp > img {
  width: 100%;
  height: 100%;
  display: none;
}
.quiz_wrapp {
  width: 60%;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
}
.top_part {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.btn_back {
  color: #027db8;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
.btn_back svg {
  margin-right: 4px;
}
.count_steps {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.steps_list {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 24px 0 0;
}
.steps_link {
  width: 25%;
  border-radius: 30px;
  background: #e0e0e0;
  height: 6px;
}
.steps_link.active {
  background: #027db8;
}
.footer_quiz {
  margin: auto 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_skip_question,
.btn_skip_personalization {
  color: #a5a5a5;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-decoration-line: underline;
  text-transform: capitalize;
  cursor: pointer;
}
.btn_next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  max-width: 329px;
  border-radius: 30px;
  background: #027db8;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  cursor: pointer;
}
.btn_next[disabled="1"] {
  background: #a5a5a5;
  cursor: unset;
}
.body_quiz {
  margin-top: 40px;
}
.body_quiz > div {
  display: none;
}
.body_quiz > div.active_page {
  display: block;
}
.start_page {
  padding-top: 110px;
  max-width: 480px;
}
.start_page h1 {
  color: #272727;
  font-family: "Manrope", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 54px;
  margin: 0 0 24px;
  max-width: 450px;
}
.start_page > p {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  max-width: 480px;
}
.btn_personalize_my_exp {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  width: 100%;
  height: 60px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
  margin: 40px auto 26px;
  cursor: pointer;
  border-radius: 30px;
  background: #027db8;
}
.btn_skip_personalization {
  text-align: center;
}
[count="start"] .btn_back,
[count="start"] .count_steps,
[count="start"] .steps_list,
[count="start"] .footer_quiz,
[count="finish"] .btn_back,
[count="finish"] .count_steps,
[count="finish"] .steps_list,
[count="finish"] .footer_quiz {
  display: none;
}
[count="start"] .top_part {
  justify-content: center;
}
[count="start"] .count_start,
[count="1"] .count_first,
[count="2"] .count_second,
[count="3"] .count_third,
[count="4"] .count_fourth,
[count="finish"] .count_finish {
  display: block;
}
.title_page {
  color: #272727;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  margin: 0;
}
.option_txt {
  color: #272727;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
  margin: 0;
}
.choose_option_wrapp {
  margin-top: 30px;
}
.choose_option_wrapp input.custom_checkbox {
  z-index: -1;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  display: none;
}
.choose_option_wrapp label:not(:last-child) {
  margin-bottom: 16px;
}
.choose_option_wrapp label {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  padding: 10px 12px 10px 65px;
  margin: 0;
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
}
.choose_option_wrapp label::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/beginner_icon.svg) no-repeat;
  background-size: contain;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
.choose_option_wrapp label[for="intermediate"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/intermediate_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="advanced"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/advanced_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="vinyasaFlow"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/vinyasa_flow_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="hatha"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/hatha_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="powerYoga"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/power_yoga_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="restorativeYin"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/restorative_yin_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="kundaliniYoga"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/kundalini_yoga_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="yogaMeditationMindfulness"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/yoga_meditation_mindfulness_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="noneStylesYoga"]::before {
  content: unset;
}
.choose_option_wrapp label[for="noneStylesYoga"] {
  padding-left: 16px;
}
.choose_option_wrapp label[for="coreStrengthStability"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/core_strength_stability_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="backStrengthPainRelief"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/back_strength_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="upperBodyStrengthToning"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/upper_body_strength_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="flexibilityJointMobility"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/flexibility_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="relaxationSleepImprovement"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/relaxation_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="mindfulnessMeditationTechniques"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/yoga_meditation_mindfulness_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="womensHealthPrenatalPostnatalPractices"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/health_prenatal_postnatal_practices_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="morningTravelVigorousEnergy"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/techniques_increase_energy_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="twenty"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/twenty_minutes_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="fortyFive"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/forty_five_minutes_icon.svg) no-repeat;
}
.choose_option_wrapp label[for="sixty"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/sixty_minutes_icon.svg) no-repeat;
}
.choose_option_wrapp label .choose_option_txt {
  max-width: 328px;
}
.choose_option_wrapp label .choose_option_txt b {
  font-size: 16px;
}
.choose_option_wrapp .checked_box {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 100px;
  border: 2px solid #e0e0e0;
  right: 12px;
}

.choose_option_wrapp .custom_checkbox:checked + label,
.choose_option_wrapp .custom_checkbox:checked + label .checked_box {
  border: 2px solid #027db8;
}
.choose_option_wrapp .custom_checkbox:checked + label .checked_box::after {
  content: "";
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  border-radius: 100px;
  background: #027db8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.choose_option_wrapp .custom_checkbox[type="checkbox"] + label .checked_box,
.choose_option_wrapp .custom_checkbox[type="checkbox"]:checked + label .checked_box {
  border-radius: 4px;
}
.choose_option_wrapp .custom_checkbox[type="checkbox"]:checked + label .checked_box::after {
  border-radius: unset;
}
.second_page .choose_option_wrapp,
.third_page .choose_option_wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}
.second_page .choose_option_wrapp label:not(:last-child),
.third_page .choose_option_wrapp label {
  width: 48.8%;
  margin: 0;
}
.second_page .choose_option_wrapp label:last-child .choose_option_txt {
  max-width: unset;
}
.third_page .choose_option_wrapp label .choose_option_txt {
  max-width: 192px;
  font-size: 16px;
}
#quizForYou[count="finish"] {
  flex-direction: row-reverse;
}
#quizForYou[count="finish"] .body_quiz {
  margin-top: 12px;
}
#quizForYou[count="finish"] .img_wrapp {
  position: relative;
  max-width: 690px;
}
#quizForYou[count="finish"] .img_wrapp::after {
  position: absolute;
  content: "";
  background: #027db8;
  max-width: 620px;
  width: 100%;
  height: 100%;
  right: 0;
}
#quizForYou[count="finish"] .img_wrapp > img.count_finish {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  max-height: 640px;
}
#quizForYou[count="finish"] .quiz_wrapp {
  padding: 66px 60px;
  width: 49%;
}
.finish_page > p {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
  margin: 0;
}
.finish_page .title_page {
  margin-bottom: 12px;
}
.btn_explore_your_yoga_journey {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  background: #027db8;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin: 24px 0 0;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.personalized_box {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.personalized_list {
  width: 40%;
}
.personalized_list[data-name="areasOfFocus"],
.personalized_list[data-name="yogaType"] {
  width: 100%;
}
.personalized_list_title {
  position: relative;
  color: #272727;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 6px;
  padding-left: 28px;
}
.personalized_list_title::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/lotus_icon.svg) no-repeat;
  background-size: contain;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.personalized_list_tag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #f6f6f6;
  padding: 5px 12px 5px 42px;
  max-width: max-content;
  min-height: 34px;
}
.personalized_list_tag::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/beginner_icon.svg) no-repeat;
  background-size: contain;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.personalized_list_tag[data-tag="Beginner"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/beginner_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Intermediate"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/intermediate_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Advanced"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/advanced_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Vinyasa Flow"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/vinyasa_flow_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Hatha"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/hatha_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Power Yoga"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/power_yoga_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Restorative/Yin"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/restorative_yin_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Kundalini Yoga"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/kundalini_yoga_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Yoga for Meditation and Mindfulness"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/yoga_meditation_mindfulness_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Core strength and stability"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/core_strength_stability_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Back strength and pain relief"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/back_strength_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Upper body strength and toning"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/upper_body_strength_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Flexibility and joint mobility"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/flexibility_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Relaxation and sleep improvement"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/relaxation_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Mindfulness and meditation techniques"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/yoga_meditation_mindfulness_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Women’s health, Prenatal and Postnatal practices"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/health_prenatal_postnatal_practices_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Techniques to increase energy"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/techniques_increase_energy_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="10-20 minutes"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/twenty_minutes_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="30-45 minutes"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/forty_five_minutes_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="60 minutes or more"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/sixty_minutes_icon.svg) no-repeat;
  background-size: contain;
}
.personalized_list_tag[data-tag="Different styles"]::before {
  background: url(https://conversionratestore.github.io/projects/doyogawithme/img/kundalini_yoga_icon.svg) no-repeat;
  background-size: contain;
}

.personalized_list[data-name="yogaType"] .personalized_txt_wrapp,
.personalized_list[data-name="areasOfFocus"] .personalized_txt_wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
