{% comment %} {% for soup in upsellBundleSettings.soups %} {% assign checkProductAvailable = all_products[soup].available %} {% if checkProductAvailable != true %} {% assign
isUpsellHide = true %} {% break %} {% endif %} {% endfor %} {% assign productSettings = product.metafields.variant.bundle_settings.value %} {% endcomment %} {% assign products =
collections['curatedpackages'].products %}

<div class="curated_packages">
  <h2>Curated Packages</h2>

  <ul>
    {% for product in products %}
    <li>
      <a href="{{ product.url }}">{{ product.title }}</a>
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | image_url: width: 150 }}" alt="{{ product.title }}" />
      </a>
      <div>
        {% if product.first_available_variant.id %}
        <span>{{ product.price | money }}</span>
        <button class="product__add {% if product.first_available_variant.id %}testik{% endif %}" data-id="{{ product.first_available_variant.id }}">Add to box</button>
        {% else %}
        <span class="disabled_var">{{ product.price | money }}</span>
        <button class="product__add disabled_var" disabled>Disabled</button>
        {% endif %}
      </div>
      <a href="{{ product.url }}">View bundle</a>
    </li>
    {% endfor %}
  </ul>
</div>

<script>
  $(document).on("click", ".product__add", function (e) {
    e.preventDefault()
    const basket = {}
    basket[$(this).data("id").toString()] = 1

    $.post("/cart/update.js", { updates: basket }, function (data) {
      alert("Added to cart")
    })
  })
</script>

<style>
  /*curated_packages */
  .curated_packages {
    max-width: 1200px;
    margin: 0 auto 120px;
    padding: 0 15px;
  }

  .curated_packages h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #103d9d;
    margin: 0 0 60px;
  }

  .curated_packages ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .curated_packages ul > li {
    width: 30%;
  }

  .curated_packages ul > li + li {
    margin-left: 30px;
  }

  .curated_packages ul > li > a {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #19409c;
    display: block;
    margin-bottom: 10px;
    text-decoration-line: none;
  }

  .curated_packages ul > li > a img {
    width: 100%;
  }

  .curated_packages ul > li > a:last-of-type {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #19409c;
    margin: 10px 0 0;
  }

  .curated_packages ul > li > div {
    display: flex;
    width: 100%;
    background: #19409c;
    align-items: center;
  }

  .curated_packages ul > li > div span {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    flex: 1;
    padding: 10px;
    text-align: center;
    position: relative;
  }

  .curated_packages ul > li > div span::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    background: #ffffff;
    width: 1.5px;
    height: 35.82px;
  }

  .curated_packages ul > li > div button {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    background: #19409c;
    border: none;
    flex: 3;
    padding: 10px;
    text-align: center;
  }

  .disabled_var {
    background-color: #3a3a3a !important;
  }

  .curated_packages ul > li > div button:hover {
    background-color: #19409c !important;
    color: #ffffff !important;
    border: none !important;
  }

  .curated_packages ul > li > div button.disabled_var:hover {
    background-color: #3a3a3a !important;
  }
</style>
