* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2b3e51;
}
ul {
  list-style: none;
}
img {
  height: 100%;
  width: 100%;
}
.mob_var {
  display: none;
}
.container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}
.book_call_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebbd45;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #2b3e51;
  max-width: 262px;
  width: 100%;
  height: 62px;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}
h1 {
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}
h2.sub_title {
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -0.48px;
  color: #2b3e51;
  text-align: center;
}
h3.third_title {
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #2b3e51;
}
/* header */
#header {
  background: #3e5062;
  padding: 10px 0;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .logo_wrap {
  flex: 0 0 134px;
  margin: 0;
}
#header .nav_menu_wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}
#header .main_nav_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#header .main_nav_menu li + li {
  margin-left: 30px;
}
#header .main_nav_menu li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}
#header .main_nav_menu li a:hover {
  color: #ebbd45;
}
#header .sub-menu {
  display: none;
}

#header .login_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-left: 15px;
}
#header .tel_link,
#header .log_in_link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
}
#header .tel_link:hover,
#header .log_in_link:hover {
  color: #ebbd45;
}
#header .tel_link {
  position: relative;
  padding: 0 24px 0 42px;
  border-right: 1px solid #cccccc;
  min-width: 173px;
}
#header .tel_link::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url(https://conversionratestore.github.io/projects/grantme/img/call.svg) no-repeat center center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
#header .book_call_btn {
  max-width: 184px;
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  min-width: 184px;
}
/* sticky_header */
.sticky_header {
  width: 100%;
  background: #3e5062;
  padding: 11px 0;
  opacity: 0;
  transition: top 0.7s;
  height: 0;
  padding: 0;
}
.sticky_header.is_fixed {
  height: 100%;
  padding: 11px 0;
  opacity: 1;
  position: sticky;
  top: -1;
  left: 0;
  z-index: 111111111;
}
.sticky_header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
.logo_wrap {
  max-height: 42px;
  max-width: 134px;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 0;
}
.sticky_header .book_call_btn {
  height: 48px;
  max-width: 318px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.reviews_btn_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews_btn_wrapper p {
  color: #ffffff;
}
.reviews_btn_wrapper p:last-child {
  font-weight: 700;
  text-decoration-line: underline;
}
.sticky_header .reviews_btn_wrapper p:nth-of-type(1) {
  margin: 0 8px 0 12px;
}
.sticky_header .reviews_btn_wrapper p:last-child {
  text-decoration-line: unset;
}
.sticky_header .reviews_btn_wrapper .accent_var {
  color: #2daf6b;
}
/* booking_section */
#booking_section {
  background: #2b3e51;
  padding: 60px 0;
}
#booking_section .container {
  display: flex;
}
.booking_descr {
  padding: 0;
  width: 50%;
  position: sticky;
  top: 0;
  height: 100%;
}
.greetings_box h1 {
  margin-bottom: 16px;
}
.greetings_box h1 span {
  color: #ebbd45;
}
.greetings_box p {
  color: #ffffff;
}
.consultation_descr_box {
  background: rgba(233, 243, 250, 0.1);
  border-radius: 6px 0 0 6px;
  padding: 24px 38px 24px 24px;
  margin: 40px 0 0;
}
.consultation_descr_box h2 {
  color: #ebbd45;
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: inherit;
}
.consultation_descr_box > div + div {
  margin-top: 24px;
}
.consultation_descr_box > div h3 {
  color: #ffffff;
  margin: 0 0 12px;
}
.consultation_descr_box > div ul {
  list-style: disc;
  color: #ffffff;
  padding-left: 28px;
}
.consultation_descr_box > div ul li {
  color: #ffffff;
}
.consultation_descr_box > div ul li p {
  font-size: 16px;
  line-height: 24px;
  color: #cccccc;
}
.consultation_descr_box > div ul li p span {
  font-weight: 700;
  color: white;
}
.consultation_descr_box > div ul li + li {
  margin-top: 16px;
}
.consultation_descr_box > div.no_commitments_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.consultation_descr_box > div.no_commitments_wrapper p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
  color: #ebbd45;
}
.our_consultants_wrapper {
  background: #e9f3fa;
  padding: 24px 32px;
  border-radius: 0 0 6px 6px;
}
.our_consultants_wrapper h3 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0 16px 16px 0;
  display: inline-block;
}
.our_consultants_wrapper > p {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  padding-left: 32px;
  display: inline-block;
}
.our_consultants_wrapper > p::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(https://conversionratestore.github.io/projects/grantme/img/telephone.svg) no-repeat center center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.our_consultants_wrapper > p a {
  font-weight: 700;
  color: #2b3e51;
  text-decoration: underline;
}
.our_consultants_wrapper > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our_consultants_wrapper > div img {
  max-width: 104px;
  width: 100%;
  margin: 0 12px 0 0;
}
.our_consultants_wrapper > div p {
  font-size: 16px;
  line-height: 24px;
  color: #2b4f6a;
}
.new_schedule_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  background: #ffffff;
  padding: 24px 0 0;
  margin-left: -6px;
  border-radius: 6px;
}
.new_schedule_box > h3 {
  margin: 0 24px;
  text-align: center;
}
.new_schedule_box .new_schedule_descr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 24px 0;
  max-width: unset;
  gap: 28px;
}
.new_schedule_box .new_schedule_descr span {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-left: 28px;
}
.new_schedule_box .new_schedule_descr span {
  font-family: "Lato", sans-serif;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2b3e51;
  padding-left: 28px;
}
.new_schedule_box .new_schedule_descr span::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(https://conversionratestore.github.io/projects/grantme/img/dollar.svg) no-repeat center center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.new_schedule_box .new_schedule_descr span:nth-child(2):before {
  background: url(https://conversionratestore.github.io/projects/grantme/img/clock.svg) no-repeat center center;
}
.new_schedule_box .new_schedule_descr span:nth-child(3):before {
  background: url(https://conversionratestore.github.io/projects/grantme/img/zoom.svg) no-repeat center center;
}
.new_schedule {
  position: relative;
  max-width: 100%;
  margin: 16px 24px 0;
  width: auto;
  padding: 24px 0;
  border-top: 1px solid #f2f2f2;
  background: #ffffff;
}
.new_schedule .nav_steps {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.new_schedule .nav_steps svg {
  cursor: pointer;
  max-width: 16px;
  width: 100%;
  margin-top: 4px;
}
svg.svg_is_hidden {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}
.new_schedule .nav_steps > p:nth-of-type(1) {
  font-family: "Bitter", serif;
  font-weight: 600;
}
.new_schedule .nav_steps > p:nth-of-type(2) {
  font-size: 16px;
  line-height: 24px;
  color: #676767;
}
.calendar_container {
  margin-top: 30px;
  min-height: 298px;
}
.calendar {
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
  max-width: 325px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.calendar header {
  margin-bottom: 12px;
}
.calendar header .month {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #3e78ba;
}
.calendar header .month .year {
  margin-left: 10px;
}
.calendar header .simple-calendar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #3e78ba;
  border-radius: 50%;
}
.calendar header .btn-prev {
  top: 0;
  right: 54px;
}
.calendar header .btn-next {
  top: 0;
  right: 0;
}
.calendar header .simple-calendar-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 16px;
  background: url(https://conversionratestore.github.io/projects/grantme/img/btn_next_calendar.svg) no-repeat center center;
}
.calendar header .simple-calendar-btn.btn-prev:before {
  background: url(https://conversionratestore.github.io/projects/grantme/img/btn_prev_calendar.svg) no-repeat center center;
}
.calendar .event-container {
  display: none !important;
}
.calendar table {
  width: 100%;
  border-spacing: 0px;
}
.calendar thead {
  font-size: 12px;
  line-height: 16px;
  color: #2b4f6a;
  text-transform: uppercase;
}
.calendar td {
  padding: 2px;
}
.calendar thead td {
  width: 42px;
  height: 42px;
}
.calendar .day {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  color: #676767;
}
.calendar .day.disabled {
  cursor: default;
}
.calendar .day.has-event {
  background: #e9f3fa;
  color: #2b4f6a;
}
.calendar .day:hover {
  border: 2px solid #6691cc;
}
.calendar .day.disabled:hover {
  border: 2px solid transparent;
}
.chosen_select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 345px;
  max-width: 486px;
  margin: 24px auto 0;
}
.calc_step_third {
  display: block;
  margin: 24px 0 0;
}
.calc_step_third > p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 452px;
  margin: 0 auto 24px;
  font-size: 16px;
  line-height: 24px;
  color: #2b4f6a;
}
.calc_step_third > h3 {
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 0 0 24px;
  border-top: 1px solid #f2f2f2;
  padding-top: 16px;
}
.calc_step_third > p > span {
  padding-left: 24px;
  position: relative;
}
.calc_step_third > p > span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(https://conversionratestore.github.io/projects/grantme/img/mini_clock.svg) no-repeat center center;
}
.calc_step_third > p > span:nth-child(2):before {
  background: url(https://conversionratestore.github.io/projects/grantme/img/mini_calendar.svg) no-repeat center center;
}
.calc_step_third > p > span:nth-child(3):before {
  background: url(https://conversionratestore.github.io/projects/grantme/img/mini_planet.svg) no-repeat center center;
}
#yourInformationForm {
  position: relative;
  max-width: 486px;
  margin: 0 auto;
}
.add_guests_btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #3e78ba;
  margin: 24px auto 16px;
  text-align: center;
  display: block;
  text-decoration-line: underline;
  max-width: max-content;
}
#yourInformationForm .schedule_call_btn {
  max-width: unset;
}
#yourInformationForm .your_information_wrapper > div,
#yourInformationForm .your_parent_information_wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}
#yourInformationForm .your_information_wrapper > div > div,
#yourInformationForm .your_parent_information_wrapper > div > div {
  width: 48%;
}
#yourInformationForm label {
  display: block;
  width: 100%;
  height: 48px;
  padding: 20px 12px 4px;
  border: 1px solid #3e78ba;
  border-radius: 6px;
  position: relative;
}
#yourInformationForm label.no_content {
  border: 1px solid #cccccc;
}
#yourInformationForm label > span {
  font-size: 16px;
  line-height: 24px;
  color: #8b8b8b;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
#yourInformationForm label > span.is_active {
  top: 4px;
  left: 12px;
  transform: unset;
  font-size: 12px;
  line-height: 16px;
}
#yourInformationForm label > span b {
  color: rgba(235, 62, 68, 1);
}
#yourInformationForm input {
  width: 100%;
  outline: none;
  border: none;
  height: 100%;
  border-radius: 6px;
  font-size: 16px;
}
#yourInformationForm .your_information_wrapper > div:nth-child(2) > div,
#yourInformationForm .your_parent_information_wrapper > div:nth-child(2) > div {
  width: 100%;
}
#yourInformationForm .your_information_wrapper > div:nth-child(2) > div:nth-child(2),
#yourInformationForm .your_parent_information_wrapper > div:nth-child(2) > div:nth-child(2) {
  display: none;
}
.your_parent_information_wrapper {
  margin: 16px 0 24px;
}
.time_zone_wrapper {
  text-align: center;
  margin: 24px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time_zone_wrapper > span {
  display: inline;
  font-weight: 700;
  font-size: 16px;
  color: #3e78ba;
}
.select_dropdown_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  margin-left: 12px;
}
.select_dropdown_wrapper::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(https://conversionratestore.github.io/projects/grantme/img/planet.svg) no-repeat center center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
#selectDropdown {
  width: 220px;
  border: 1px solid #aaa;
  padding: 4px 16px;
  height: 25px;
  border-radius: 6px;
  cursor: pointer;
}
#yourInformationForm .schedule_call_btn:disabled {
  background: #cccccc;
  color: #ffffff;
  cursor: initial;
}
.chosen_select div.select_custom {
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 17px 20px;
  cursor: pointer;
  position: relative;
  height: 48px;
  font-size: 16px;
  line-height: 14px;
  color: #676767;
  text-align: left;
}
.chosen_select div.select_custom::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(https://conversionratestore.github.io/projects/grantme/img/arr_select.svg) no-repeat center center;
  transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
}
.chosen_select div.select_custom.is_visit::after {
  transform: translateY(-50%) rotate(180deg);
}
.chosen_select div.select_custom[data-selected] {
  color: #3e78ba;
}
.chosen_select div.select_custom.is_active {
  border-color: #3e78ba;
}
.chosen_select div.options_custom {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 2px rgba(28, 5, 77, 0.05), 0px 12px 8px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-top: 4px;
  display: none;
}
.chosen_select div.options_custom ul {
  overflow-x: auto;
  max-height: 222px;
  min-height: 222px;
  border-radius: 6px;
}
.chosen_select ul li {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2b4f6a;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}
.chosen_select ul li:hover {
  background: rgb(204 204 204 / 30%);
}
.chosen_select ul li.is_active {
  background: #e9f3fa;
  color: #3e78ba;
}
.confirm_time_btn {
  margin: auto 0 0;
  background: #3e78ba;
  border-radius: 6px;
  height: 62px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}
.confirm_time_btn:disabled {
  background: #cccccc;
  cursor: initial;
}
/* overview_section */
#overview_section {
  padding: 60px 0;
}
#overview_section .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 64px;
}
#overview_section .container > div {
  width: 50%;
}
#overview_section .container > div:nth-child(2) {
  max-width: 544px;
  max-height: 497px;
}
#overview_section h3 {
  margin-bottom: 16px;
}
#overview_section p {
  font-size: 16px;
  line-height: 24px;
}
#overview_section p + p {
  margin-top: 16px;
}
#overview_section ul {
  list-style: disc;
  padding-left: 30px;
}
#overview_section ul li + li {
  margin-top: 8px;
}
#overview_section .why_we_offer_wrap {
  margin: 24px 0 16px;
  max-width: 570px;
}
#overview_section .overview_txt_wrapper {
  display: flex;
  align-items: center;
  background: #e9f3fa;
  border-radius: 6px;
  max-width: 483px;
  padding: 16px;
}
#overview_section .overview_txt_wrapper svg {
  max-width: 24px;
  max-height: 24px;
  width: 100%;
  height: 100%;
}
#overview_section .overview_txt_wrapper span {
  display: block;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
/* as_seen_on_section */
#as_seen_on_section {
  padding: 60px 0;
}
#as_seen_on_section h2 {
  margin: 0 0 56px;
}
#as_seen_on_section .container > div {
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  max-width: 998px;
  margin: 0 auto;
}
#as_seen_on_section .img_wrapper {
  background: #f2f2f2;
  padding: 40px;
  gap: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#as_seen_on_section .img_wrapper img:nth-child(1) {
  max-width: 121px;
}
#as_seen_on_section .img_wrapper img:nth-child(2) {
  max-width: 120px;
}
#as_seen_on_section .img_wrapper img:nth-child(3) {
  max-width: 135px;
}
#as_seen_on_section .count_txt_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 120px;
}
#as_seen_on_section .count_txt_wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#as_seen_on_section .count_txt_wrapper > div span {
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 8px;
}
/*  */
.testimonials_item {
  width: 100%;
  padding: 0;
  background: #e9f3fa;
  border-radius: 12px;
  min-height: 392px;
  display: block;
}
.testimonials_content {
  height: 351px;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  display: flex;
  margin: 0;
}
.testimonials_content_text {
  padding: 32px;
  font-size: 22px;
  line-height: 33px;
}
.testimonials_man {
  width: 100%;
  min-height: 80px;
  padding: 32px;
  display: flex;
}
.testimonials_img {
  width: 80px;
  height: 80px;
  margin-right: 16px;
}
.testimonials_img img {
  border-radius: 50%;
}
.testimonials_name {
  flex-direction: column;
  width: calc(100% - 96px);
  display: flex;
  align-self: flex-end;
}
.testimonials_name h3 {
  width: 100%;
  margin: -4px 0 0;
  font-size: 26px;
  line-height: 39px;
  font-family: "Bitter", serif;
  font-weight: 600;
}
.testimonials_name .testimonials_school {
  font-size: 18px;
  line-height: 27px;
  width: 100%;
}
.testimonials_arrows {
  display: flex;
  margin: 10px 20px;
  align-items: center;
  justify-content: flex-end;
}
.testimonials_arrow_next,
.testimonials_arrow_prev {
  border: 0;
  background: 0 0;
  padding: 0;
  margin: 5px 16px;
  cursor: pointer;
}
.slick-initialized .slick-slide {
  margin: 0 10px;
}
.w-chrome,
.wistia_swatch {
  border-radius: 12px;
}
.testimonials_item_last {
  min-height: 495px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  text-align: center;
  justify-content: center;
}
.testimonials_item_last .btn {
  max-width: 159px;
  margin: 0 auto 16px;
  padding: 16px 28px;
  display: inline-block;
  border-radius: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  background-color: #ebbd45;
  color: #2b3e51;
  outline: none;
  border: none;
}
.testimonials_item_last .btn + div {
  font-size: 18px;
  max-width: 208px;
}

/* what_users_say_section */
#what_users_say_section {
  padding: 60px 0;
}
#what_users_say_section h2 {
  margin-bottom: 56px;
}
/* faqs_section */
#faqs_section {
  padding: 60px 0;
}
#faqs_section .container {
  max-width: 740px;
  margin: 0 auto;
}
#faqs_section h2 {
  margin-bottom: 50px;
}
.accardion_block_faqs {
  border-bottom: 1px solid #3e78ba;
  padding: 12px 0;
}
.accardion_link_faqs h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3e78ba;
  text-transform: capitalize;
}
.accardion_link_faqs {
  padding: 10px 10px 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.accardion_lists_faqs {
  transition: all 0.2s ease 0s;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.accardion_lists_faqs p {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  padding-left: 14px;
  margin-left: 24px;
  padding-bottom: 25px;
}
.accardion_lists_faqs p::before {
  position: absolute;
  content: "";
  top: 7.5px;
  left: 0;
  width: 5.5px;
  height: 5.5px;
  background: black;
  border-radius: 50%;
}
.accardion_link_faqs span {
  position: relative;
  width: 22px;
  height: 11px;
  display: inline-flex;
  margin: 0 0 0 auto;
  transition: all 0.5s ease 0s;
}
.accardion_link_faqs span::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #3e78ba;
  transition: all 0.5s ease 0s;
}
.active_block {
  max-height: fit-content;
  opacity: 1;
  margin-top: 20px;
}
.accardion_link_faqs.active span::before {
  transform: rotate(180deg);
}
.need_more_help_wrap {
  margin: 48px 0 0;
  text-align: center;
}
.need_more_help_wrap p {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 8px;
}
.need_more_help_wrap a {
  color: #3e78ba;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
/* ready_to_get_started_section */
#ready_to_get_started_section {
  background: #e9f3fa;
  padding: 90px 0;
}
#ready_to_get_started_section h2 {
  font-weight: 400;
}
#ready_to_get_started_section p {
  text-align: center;
  margin: 10px 0 22px;
}
.chosen_select.is_hidden,
.calc_step_third.is_hidden,
#calendarContainer.is_hidden,
.time_zone_wrapper.is_hidden,
.your_parent_information_wrapper.is_hidden,
.add_guests_btn.is_hidden,
label.is_hidden {
  display: none;
}
@media (max-width: 768px) {
  .desk_var {
    display: none;
  }
  .mob_var {
    display: block;
  }
  h1 {
    font-size: 32px;
    line-height: 48px;
  }
  h2.sub_title {
    font-size: 25px;
    line-height: 37px;
  }
  h3.third_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .sticky_box {
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: #2b3e51;
    width: 100%;
    margin: 0;
    padding: 16px;
    display: none;
    justify-content: space-between;
  }
  .sticky_box .reviews_btn_wrapper {
    display: block;
  }
  .sticky_box .book_call_btn {
    max-width: 156px;
    margin: 0 0 0 10px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
  }
  .sticky_box .reviews_btn_wrapper svg {
    display: block;
    margin-bottom: 6px;
  }
  .sticky_box .reviews_btn_wrapper p {
    display: inline-block;
    font-size: 13px;
    line-height: 21px;
  }
  .sticky_box .reviews_btn_wrapper p .accent_var {
    color: #ebbd45;
  }
  .sticky_box .reviews_btn_wrapper p:last-child {
    margin-left: 1px !important;
  }

  #booking_section {
    padding: 24px 0 0;
  }
  #booking_section .container {
    flex-direction: column;
  }
  .consultation_descr_box > div.no_commitments_wrapper p {
    font-size: 15px;
  }
  .booking_descr {
    width: 100%;
    position: unset;
  }
  .greetings_box h1 {
    margin-bottom: 8px;
  }
  .greetings_box p {
    font-size: 16px;
    line-height: 24px;
  }
  .consultation_descr_box {
    margin: 16px 0 24px;
    padding: 24px;
    border-radius: 6px;
  }
  .consultation_descr_box > div:nth-child(2) {
    display: none;
  }
  .consultation_descr_box > div + div {
    margin-top: 24px;
  }
  .new_schedule_box {
    width: 109%;
    margin: 0 -5%;
    background: #e9f3fa;
    border-radius: unset;
  }
  .new_schedule_box > h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
  .new_schedule_box .new_schedule_descr {
    margin-top: 10px;
  }
  .new_schedule {
    margin: 20px 16px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 6px;
  }
  .our_consultants_wrapper {
    padding: 24px 16px;
  }
  .our_consultants_wrapper h3 {
    font-size: 18px;
    margin: 0 0 16px;
  }
  .our_consultants_wrapper > p {
    font-size: 14px;
    line-height: 21px;
  }
  .our_consultants_wrapper > div {
    margin-top: 12px;
  }
  .our_consultants_wrapper > div p {
    max-width: 196px;
  }
  .time_zone_wrapper {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .time_zone_wrapper > span {
    margin-bottom: 8px;
  }
  .calendar_container {
    min-height: 272px;
  }
  .calendar .day {
    color: #8b8b8b;
  }
  .calendar .day.has-event {
    color: #2b3e51;
  }
  .select_dropdown_wrapper {
    margin: 0;
  }
  .calendar {
    padding: 0;
  }
  .chosen_select {
    min-height: 314px;
  }
  .chosen_select div.options_custom ul {
    max-height: 184px;
    min-height: 184px;
  }
  .new_schedule .nav_steps > p:nth-of-type(1) {
    text-align: center;
    max-width: 224px;
  }
  .calc_step_third {
    margin-top: 16px;
  }
  .calc_step_third > p {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .calc_step_third > p span + span {
    margin-top: 12px;
  }
  .calc_step_third > h3 {
    border: none;
    padding: 0;
    margin-bottom: 16px;
  }
  #yourInformationForm .your_information_wrapper > div,
  #yourInformationForm .your_parent_information_wrapper > div {
    flex-direction: column;
  }
  #yourInformationForm .your_information_wrapper > div > div,
  #yourInformationForm .your_parent_information_wrapper > div > div {
    width: 100%;
  }
  #yourInformationForm .your_information_wrapper > div > div + div,
  #yourInformationForm .your_parent_information_wrapper > div > div + div {
    margin-top: 12px;
  }
  #overview_section {
    padding: 40px 0 0;
  }
  #overview_section .container {
    gap: 32px;
    flex-direction: column-reverse;
  }
  #overview_section .container > div {
    width: 100%;
  }
  #overview_section .overview_txt_wrapper {
    font-size: 16px;
    line-height: 20px;
  }
  #overview_section .container .mob_var.expect_from_the_call_box h3 {
    font-size: 25px;
    line-height: 37px;
    letter-spacing: -0.48px;
    margin-bottom: 12px;
  }
  #overview_section .container .mob_var.expect_from_the_call_box p > span {
    font-weight: 700;
  }
  #as_seen_on_section {
    padding: 20px 0 40px;
  }
  #as_seen_on_section h2 {
    margin-bottom: 16px;
  }
  #as_seen_on_section .count_txt_wrapper {
    padding: 20px;
    gap: 40px;
  }
  #as_seen_on_section .count_txt_wrapper > div {
    text-align: center;
  }
  #as_seen_on_section .count_txt_wrapper > div span {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
  }
  #as_seen_on_section .count_txt_wrapper > div p {
    font-size: 14px;
    line-height: 21px;
  }
  #as_seen_on_section .img_wrapper img:nth-child(1) {
    max-width: 68px;
  }
  #as_seen_on_section .img_wrapper img:nth-child(2) {
    max-width: 53px;
  }
  #as_seen_on_section .img_wrapper img:nth-child(3) {
    max-width: 76px;
  }
  #as_seen_on_section .img_wrapper {
    padding: 28px 40px;
    gap: 40px;
  }
  #what_users_say_section {
    padding: 0;
  }
  #what_users_say_section h2 {
    margin-bottom: 20px;
  }
  .testimonials_arrows {
    justify-content: center;
  }
  #faqs_section {
    padding: 40px 0 120px;
  }
  #faqs_section h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .accardion_link_faqs h3 {
    font-size: 16px;
  }
  #ready_to_get_started_section {
    background: #2f3d4f;
    position: relative;
    padding-bottom: 120px;
  }
  #ready_to_get_started_section::before {
    background: inherit;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
    transform: skewY(-4deg);
    transform-origin: 0 100%;
  }
  #ready_to_get_started_section h2 {
    color: #ffffff;
    font-size: 32px;
    line-height: 52px;
  }
  #ready_to_get_started_section p {
    color: #ffffff;
    margin: 16px 0;
  }
  #header .nav_menu_wrapper,
  #header .login_wrapper {
    display: none;
  }
  .burger_menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  #btnBurger {
    background: #3e5062;
    outline: none;
    border: none;
  }
  #btnClose {
    background: #ffffff;
    outline: none;
    border: none;
  }
  .menu_open#header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 100;
  }
  .burger_close_btn,
  .menu_open .burger_open_btn,
  .burger_close_btn {
    display: none;
  }
  .menu_open .burger_close_btn {
    display: block;
  }
  .menu_open#header .burger_menu {
    border-bottom: 1px solid #cccccc;
  }
}
