body .gift_box_wrapper .gift_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  max-width: 302px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid #fee6ee;
  background: #fff;
}
body .gift_box_wrapper .gift_box.cta_box {
  border-radius: 12px;
  margin-top: -15px;
  padding-top: 25px;
}
body .gift_box_wrapper .gift_box.banner_box {
  margin-top: -80px;
  z-index: 1;
  position: relative;
}
body .gift_box_wrapper .gift_box.bundle_box {
  max-width: 100%;
  padding: 10.5px 16px;
  border-radius: 4px;
  margin: 0 auto 12px;
}
body .gift_box_wrapper .gift_box.bundle_box p {
  max-width: 249px;
}
body .gift_box_wrapper .gift_box svg {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  margin-top: 3px;
}
body .gift_box_wrapper .gift_box p {
  color: #212529 !important;
  font-family: "Roboto", sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  margin: 0 !important;
  text-align: left;
  letter-spacing: normal;
}
body .gift_box_wrapper .gift_box p span {
  color: #1e4fd1;
  font-weight: 600;
  text-decoration-line: underline;
  cursor: pointer;
}

body .js-heading.js-mobile .no-padding {
  margin-top: -30px;
}

body .hand-banner a.get-it {
  margin-top: 16px !important;
}

.effectiveness {
  padding-bottom: 56px !important;
}

.bp-comparison {
  padding-bottom: 0 !important;
}

.ingredients {
  padding-bottom: 26px !important;
}

.row .text-center a.get-it {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  z-index: 1;
  position: relative;
  padding: 0;
  margin: 0 auto !important;
  font-size: 18px;
  letter-spacing: 0.27px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

#getNow {
  position: relative;
  padding: 0 16px !important;
}
#getNow > h2 {
  text-align: left;
  color: #212529;
  font-family: "DINEngschrift LT";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
#getNow > h2 + p {
  text-align: left;
  color: #212529;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  margin: 8px 0 31px;
}
#getNow p > br {
  display: none;
}
#getNow .sub.js-desktop + img {
  position: absolute;
  top: -10px;
  right: 13px;
  max-width: 135px;
}
#getNow .js-packs:nth-child(1) input[type=radio] + label {
  border-top-left-radius: 0;
}
#getNow input[type=radio] + label {
  font-family: "DIN Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 8.4px 20px;
}
#getNow input[type=radio] + label .gift_icon {
  position: absolute;
  right: 6px;
  top: 6px;
}
#getNow input[type=radio] + label span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
#getNow .gift_box_wrapper {
  padding: 0 14px;
}
#getNow .form {
  padding: 0 14px;
}
#getNow .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px 16px;
  margin: 0 !important;
}
#getNow .form-group .js-packs {
  max-width: calc(50% - 8px);
  margin: 0;
}
#getNow .new-bundle-pack {
  max-width: 100%;
  margin: auto;
  padding: 14px 0 12px;
}
#getNow .new-bundle-pack h3 {
  color: #212529;
  font-family: "DIN Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}
#getNow .new-bundle-pack .bundle-off {
  color: #fff;
  font-family: "DIN Condensed";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 3px 10px;
  border-radius: 2px 2px 0px 0px;
  background: #000;
  margin-top: -24px;
}
#getNow .new-bundle-pack input[type=radio] + label {
  padding: 6px 8px 3px 11px;
}
#getNow .new-bundle-pack input[type=radio] + label .gift_icon {
  right: 8px;
  top: 8px;
}
#getNow .new-bundle-pack input[type=radio] + label span {
  font-weight: 400;
  margin-top: 4px;
  display: inline-block;
}
#getNow .new-bundle-pack input[type=radio] + label span.pack-title {
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}
#getNow .new-bundle-pack img {
  background: inherit !important;
  padding: 0 !important;
  width: 78px;
  margin-right: 21px !important;
}
#getNow .new-bundle-pack .btn-tooltip {
  right: 8px;
  bottom: 8px;
  width: 20px;
}
#getNow .prices .js-total {
  color: #181717;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 4px;
}
#getNow .prices .js-regular {
  margin-bottom: 12px;
}
#getNow #addToCart {
  padding: 20px 10px;
}
#getNow .days {
  margin-top: 0 !important;
  margin-bottom: 23px !important;
}

.js-packs input[type=radio]:checked + label .gift_icon path,
.new-bundle-pack .js-packs input[type=radio]:checked + label .pack-label .gift_icon path {
  fill: white;
}

.new_popup_backdrop {
  background: linear-gradient(180deg, #fff 0%, #fff4f8 100%);
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000000000;
  transition: all 0.8s ease 0s;
  overflow: auto;
}

.new_popup_backdrop.is_hidden {
  opacity: 0;
  pointer-events: none;
}

.new_popup {
  position: absolute;
  height: 100%;
  width: 100%;
}

.new_popup_close {
  position: absolute;
  background: none;
  padding: 0;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  z-index: 1;
  border: none;
  transition: all 0.8s ease 0s;
}
.new_popup_close svg {
  vertical-align: baseline;
}

.new_popup_content {
  padding: 32px 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.new_popup_content img {
  margin: 0 auto;
  display: block;
}
.new_popup_content img:nth-child(1) {
  width: 100%;
  max-width: 240px;
}
.new_popup_content img:nth-child(2) {
  width: 100%;
  max-width: 335px;
  margin-top: 24px;
}
.new_popup_content .gift_stickers_title {
  color: #2c56a5;
  text-align: center;
  font-family: "DIN Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 40px 0 12px;
}
.new_popup_content .border_icon {
  display: none;
  text-align: center;
  margin: auto auto 0;
  width: -moz-max-content;
  width: max-content;
}/*# sourceMappingURL=main.css.map */