/* */
.backdrop_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9f8f6;
  display: flex;
  overflow-y: auto;
  z-index: 5500000595;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.backdrop_popup.show {
  opacity: 1;
  pointer-events: auto;
}
.backdrop_popup.show .container_popup {
  transform: translateY(0);
}
.backdrop_popup .container_popup {
  background: #f9f8f6;
  position: relative;
  transform: translateY(-100px);
  transition: all 0.3s ease;
  height: 100%;
}
.body_popup {
  height: 100%;
  background: #f9f8f6;
}

/*cross_sell_block */
.cross_sell_block {
  padding: 20px;
  background: #f9f8f6;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background: #f9f8f6;
}

/*count_patch_box */
.count_patch_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #eceef0;
  box-shadow: 0px 2px 4px rgb(12 11 11 / 10%), 0px 12px 32px rgb(0 0 0 / 5%);
  border-radius: 6px;
  padding: 15px;
  margin: 0;
}
.count_patch_box > p {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 130% !important;
  color: #3c3c3c;
  margin: 0 0 0 10px;
}

/*magic_patch_box */
.magic_patch_box {
  margin: 20px 0 28px;
}
.magic_patch_box h2 {
  font-family: "Roboto", sans-serif !important;
  text-transform: unset;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #0c0b0b;
  color: #0c0b0b;
  margin: 0;
}
.magic_patch_box h2 span {
  color: #ff3c7f;
}
.magic_patch_box > p {
  font-weight: 600;
  text-align: center;
  font-size: 16px !important;
  line-height: 130% !important;
  color: #ff3c7f;
  margin: 4px 0 20px;
}
.price_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  margin: 13px 0 20px;
}
.price_block span {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #0c0b0b;
}
.price_block span:last-child {
  font-weight: 400;
  font-size: 16px;
  margin-top: 4px;
  color: rgb(12 11 11 / 99%);
}
.magic_patch_box ul:not(#carousel) {
  color: #ff3c7f;
  max-width: 227px;
  margin: 0 auto;
}
.magic_patch_box ul:not(#carousel) li span {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #212529;
}
.magic_patch_box ul:not(#carousel) li + li {
  margin-top: 12px;
}

/*btn_wrap */
.btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 20px;
}
.btn_wrap button {
  font-family: "DINEngschrift LT", sans-serif !important;
  width: 100%;
  height: 66px;
  background: #f53981;
  box-shadow: 0px 2px 4px rgba(12, 11, 11, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
  border-radius: 52px;
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.15s;
}
.btn_wrap button:active {
  max-width: 98%;
  padding: 1em;
}
.btn_wrap button.no_magic {
  color: #0c0b0b;
  font-weight: 400;
  font-size: 16px;
  background: #f9f8f6;
}
.btn_wrap button + button {
  margin-top: 10px;
}

/*carousel */
#carousel {
  margin: 0;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  background: unset;
  border: unset;
}
.slick-arrow.prev_btn {
  left: -8px;
}
.slick-arrow.next_btn {
  right: -8px;
}
.slick-initialized .slick-slide {
  padding: 0 35px;
}

@media (width: 414px) {
  .slick-initialized .slick-slide {
    padding: 0 40px;
  }
}

.slick-arrow:not(.disabled):not([disabled]):focus {
  color: unset !important;
  background-color: unset !important;
  border-color: unset !important;
  -webkit-box-shadow: unset !important;
  -moz-box-shadow: unset !important;
  -ms-box-shadow: unset !important;
  -o-box-shadow: unset !important;
  box-shadow: unset !important;
}

/* addToCart*/
#addToCart {
  display: none;
}
.new_btn_addToCart {
  width: 100%;
  margin-bottom: 40px;
}
.new_btn_addToCart a {
  font-family: "DINEngschrift LT", sans-serif !important;
  margin: 0 auto;
  background: #f53981;
  box-shadow: 0px 2px 4px rgb(12 11 11 / 10%), 0px 12px 32px rgb(0 0 0 / 5%);
  border-radius: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 331px;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  height: 66px;
}

@media (max-width: 320px) {
  .count_patch_box > p {
    font-size: 12px !important;
  }
  .magic_patch_box h2 {
    font-size: 23px;
  }
  .magic_patch_box > p {
    font-size: 15px !important;
  }
  .magic_patch_box ul:not(#carousel) {
    max-width: 213px;
  }
  .magic_patch_box ul:not(#carousel) li + li {
    margin-top: 6px;
  }
  .btn_wrap button {
    height: 58px;
  }
  .carousel__slide img {
    max-height: 155px;
  }
}

@media (max-width: 280px) {
  .count_patch_box > p {
    font-size: 10px !important;
  }
  .magic_patch_box h2 {
    font-size: 20px;
  }
  .magic_patch_box > p {
    font-size: 13px !important;
  }
  .magic_patch_box ul:not(#carousel) {
    max-width: 178px;
  }
  .magic_patch_box ul:not(#carousel) li span {
    font-size: 13px;
  }
  .btn_wrap button {
    height: 54px;
  }
  .carousel__slide img {
    max-height: 135px;
  }
  .slick-arrow.next_btn {
    right: -12px;
  }
  .slick-arrow.prev_btn {
    left: -12px;
  }
}
