*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  height: auto;
}

button {
  border: inherit;
  background: inherit;
}

li {
  list-style: none;
}

.container {
  width: 96%;
  max-width: 1100px;
  margin: 0 auto;
}

/*  hero */
.hero {
  padding: 370px 0 140px 100px;
  background: right -100px / cover no-repeat url(/blackoakled/img/hero.png), #161616;
}

.hero_section {
}

.hero_section > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgb(255 255 255 / 50%);
}

.hero_section > h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 104%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 20px 0;
  max-width: 820px;
}

.hero_section > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #ffffff;
  max-width: 700px;
  margin-bottom: 60px;
}

.hero_section > a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f09236;
  border-radius: 50px;
  width: 100%;
  max-width: 219px;
  height: 50px;
  text-decoration: none;
  outline: none;
  border: none;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

/* description */
.description {
  padding: 88px 0;
  background: #f4f4f4;
}

.description .container {
  max-width: 820px;
}

.description ul {
  display: flex;
  justify-content: space-between;
}

.description ul li {
  width: 48%;
}

.description ul li p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #161616;
}

/* tabs */
.tabs {
}

/* tabs_visible_wrap */
.tabs ul.tabs_visible_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  padding: 26px 0;
}

.tabs ul.tabs_visible_wrap li + li {
  margin-left: 120px;
  position: relative;
}

.tabs ul.tabs_visible_wrap li + li::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: rgb(22 22 22 / 30%);
  max-height: 32px;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
}

.tabs ul.tabs_visible_wrap li > p {
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -0.03em;
  color: rgb(22 22 22 / 50%);
  cursor: pointer;
}

.tabs ul.tabs_visible_wrap li.active_tab > p {
  font-weight: 700;
  text-transform: uppercase;
  color: #ac2217;
}

/* tabs_content */
.tabs_content h3.third_title {
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #161616;
  margin-bottom: 20px;
  text-align: center;
}

.tabs_content p.txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #161616;
  text-align: center;
  max-width: 820px;
  margin: 0 auto;
}

.tabs_content > li > div {
  padding: 60px 0 80px;
}

.tabs_content > li > div.photo_var,
.tabs_content > li > div.video_var {
  padding: 60px 0 100px;
}

.tabs_content > li > div .container {
  max-width: 1240px;
}

/* photo_var */
li .photo_var {
  background: #ececec;
}

li .photo_var > div img {
  object-fit: cover;
  width: 80%;
  height: 100%;
}

/* video_var */
.tabs_content .video_var {
  background: #161616;
}

.tabs_content .video_var h3.third_title {
  color: #ffffff;
}

/* benefits_var */
.tabs_content > li > div.benefits_var {
  background: top / contain no-repeat url(/blackoakled/img/benefits_bgr.png), #f4f4f4;
  padding-top: 404px;
}

.tabs_content > li > div.benefits_var .container {
  max-width: 1000px;
}

.juxtapose {
  margin-top: 50px;
}

.tabs_content > li > div.benefits_var h2 {
  font-weight: 700;
  font-size: 96px;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #161616;
  margin-bottom: 60px;
}

.tabs_content > li > div.benefits_var ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabs_content > li > div.benefits_var ul li {
  width: 45%;
  margin: 20px;
}

.tabs_content > li > div.benefits_var ul li p:first-of-type {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #161616;
  opacity: 0.8;
  margin-bottom: 15px;
}

.tabs_content > li > div.benefits_var ul li p:last-of-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #161616;
  opacity: 0.7;
}

/* difference_var */
.difference_var {
  background: #ececec;
}

/* connect_var */
.tabs_content > li > div.connect_var .container {
  max-width: 1260px;
}

.img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.connect_var {
  background: #f4f4f4;
}

.connect_var ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.connect_var ul li {
  margin: 10px;
}

.connect_var ul li:nth-child(1) {
  width: 100%;
  margin-bottom: 50px;
}

.connect_var ul li:nth-child(1) .img_wrapper {
  max-width: 1240px;
  margin-top: 40px;
}

.connect_var ul li:nth-child(2) .img_wrapper,
.connect_var ul li:nth-child(3) .img_wrapper {
  margin-bottom: 40px;
}

.connect_var ul li:nth-child(2),
.connect_var ul li:nth-child(3) {
  width: 50%;
  max-width: 400px;
}

.connect_var ul li:nth-child(2) h3,
.connect_var ul li:nth-child(2) p,
.connect_var ul li:nth-child(3) h3,
.connect_var ul li:nth-child(3) p {
  text-align: left;
}
