.lp-tr--purchase {
  .container {
    @media (min-width: 992px) {
      max-width: 1280px;
    }
    @media (min-width: 768px) {
      max-width: 1280px;
    }
    @media (max-width: 768px) {
      background: #f7f6f4;
      padding: 12px 0 0;
      > .row {
        margin: 0 !important;
      }
    }
  }
  h2.lp-tr--section-big-title {
    color: #202020;
    font-family: 'Inter', sans-serif !important;
    font-size: 60.742px;
    font-weight: 400;
    line-height: 110px;
    text-transform: uppercase;
    margin-bottom: 24px;
    @media (max-width: 768px) {
      display: none !important;
    }
  }
  h3.purchase__title,
  .purchase__text,
  label .lp-tr--pack-price,
  .purchase__risk-free,
  .day-30-mobile {
    display: none !important;
  }
  .content-container {
    padding: 60px 50px !important;
    @media (max-width: 768px) {
      padding: 0 !important;
      margin-top: 33px !important;
      background: none !important;
    }
  }
  .lp-tr--gray-bg {
    margin: 0;
    @media (max-width: 768px) {
      background: none;
      .lp-tr--desktop {
        padding: 0 22px !important;
      }

      .lp-tr--purchase-cover {
        max-width: 100%;
      }
    }
    > div:nth-child(1) {
      padding: 0;
    }
  }

  .form {
    @media (max-width: 768px) {
      padding: 0 30px;
    }
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 24px;
    margin-bottom: 16px !important;
    @media (max-width: 993px) {
      display: flex !important;
    }
    @media (max-width: 768px) {
      gap: 10px 14px;
      column-gap: 14px !important;
      margin-bottom: 12px !important;
    }
    .packs {
      width: 100%;
      margin: 0;
      max-width: calc((100% - 24px) / 2);

      @media (max-width: 768px) {
        max-width: calc((100% - 14px) / 2);
      }
      label {
        margin: 0;
        height: 100%;
        padding: 16px !important;
        color: #212529 !important;
        text-align: center !important;
        font-family: 'DIN Condensed' !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        line-height: 22px !important;
        letter-spacing: 0.5px !important;
        text-transform: uppercase !important;
        border-radius: 5px;
        border: 2px solid #337c6b;
        @media (max-width: 993px) {
          height: 100% !important;
        }
        @media (max-width: 768px) {
          background: #fff;
        }
        span:not(.lp-tr--pack-price) {
          font-family: 'Roboto', sans-serif !important;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          margin-top: 6.8px;
          display: block;
          @media (max-width: 768px) {
            margin: 0;
          }
        }
        &[for='pack1'] {
          span.lp-tr--pack-price {
            display: block !important;
            font-family: 'Roboto', sans-serif !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            margin-top: 6.8px;
            @media (max-width: 768px) {
              margin: 0;
            }
          }
        }
        &[for='pack3'] {
          position: relative;
          border-radius: 0px 5px 5px 5px;
          &::before {
            content: 'Top Seller';
            position: absolute;
            top: -22px;
            left: -1px;
            max-width: 69px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5px 10px;
            color: #fff;
            font-family: 'DIN Condensed' !important;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            border-radius: 2px 2px 0px 0px;
            background: #000;
          }
        }
      }
    }
  }
  .new_bundle_pack {
    .new_bundle_main_title {
      color: #000;
      font-family: 'DIN Condensed';
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      text-align: left;
      margin: 0;
    }
    .packs {
      position: relative;
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
    .bundle_off {
      position: absolute;
      right: 0;
      top: -21px;
      display: flex;
      padding: 1.5px 8.7px;
      justify-content: center;
      align-items: center;
      border-radius: 2px 2px 0px 0px;
      background: #000;
      color: #fff;
      font-family: 'DIN Condensed';
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    label {
      padding: 0 !important;
      margin: 0;
      border-radius: 4px 0px 4px 4px !important;
      background: #fff;
      .new_bundle_wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        gap: 12px;
        padding: 4px;
        .img_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 90px;
          max-height: 90px;
          width: 100%;
          height: 100%;
          min-height: 90px;
          border-radius: 2px;
          background: #fff;
          padding: 5px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .new_bundle_title {
          color: #212529;
          font-family: 'DIN Condensed' !important;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          text-align: left;
          margin: 0 0 2px;
          @media (max-width: 768px) {
            font-family: 'Roboto', sans-serif !important;
            font-size: 14px;
            margin-bottom: 1px;
            letter-spacing: initial;
            text-transform: initial;
          }
        }
        .new_bundle_description {
          color: #6f6f6f;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          margin: 0 0 7px;
          text-transform: initial;
          text-align: left;
          letter-spacing: normal;
          @media (max-width: 993px) {
            font-size: 11px;
          }
          @media (max-width: 768px) {
            font-size: 14px;
            max-width: 197px;
            margin-bottom: 5px;
          }
          @media (max-width: 345px) {
            font-size: 13px;
          }
        }
        .new_bundle_price {
          display: block;
          font-family: 'Roboto', sans-serif;
          font-size: 14px !important;
          font-weight: 400;
          line-height: 18px !important;
          margin: 0;
          text-transform: initial;
          letter-spacing: initial;
          color: #212529;
          text-align: left;
        }
      }
    }
    input[type='radio']:checked + label {
      .new_bundle_title,
      .new_bundle_description,
      .new_bundle_price {
        color: #fff;
      }
    }
  }
  .new_bundle_tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background: #337c6b;
    z-index: 111;
    @media (max-width: 768px) {
      bottom: 9px;
      right: 20px;
    }
  }
  [data-tippy-root] {
    z-index: 100 !important;
    .tippy-box {
      background-color: #fff;
      max-width: 330px !important;
      left: 19px !important;
      filter: drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.02)) drop-shadow(0px 2px 2px rgba(28, 5, 77, 0.12));
      @media (max-width: 361px) {
        left: 12px !important;
      }
      .tippy-content {
        padding: 17px 16px 14px;
      }
      .tippy-arrow {
        display: block !important;
        color: #fff;
        left: -18px !important;
        @media (max-width: 361px) {
          left: -12px !important;
        }
      }
      .tooltip_block {
        .tooltip_wrapper {
          display: flex;
          gap: 14px;
          .img_wrapper {
            max-width: 45px;
            max-height: 70px;
            min-height: 70px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .tooltip_info {
            > div {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 9px;
              span {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                svg {
                  height: 16px;
                }
              }
            }
            h2 {
              color: #1f4fc9;
              font-family: 'Roboto', sans-serif !important;
              font-size: 16px;
              font-weight: 700;
              line-height: 22px;
              margin: 0;
              text-transform: initial;
              letter-spacing: initial;
              text-align: left;
            }
            p {
              color: #1f4fc9;
              font-family: 'Barlow', sans-serif !important;
              font-size: 14px !important;
              font-weight: 600;
              line-height: 18px !important;
              margin: 6px 0 0;
              text-transform: uppercase;
              letter-spacing: initial;
              text-align: left;
            }
          }
        }
        > p {
          color: #212529;
          font-family: 'Roboto', sans-serif;
          font-size: 14px !important;
          font-weight: 400;
          line-height: 22px !important;
          margin: 14px 0 0;
          letter-spacing: initial;
          text-transform: initial;
          text-align: left;
        }
      }
    }
  }

  input[type='radio']:checked + label + .new_bundle_tooltip {
    background: #fff;
    svg path {
      fill: #337c6b;
    }
  }
  input[type='radio']:checked {
    & + label {
      color: #fff !important;
      background: #337c6b;
      span:not(.lp-tr--pack-price) {
        font-weight: 500;
      }
    }
  }

  .purchase__regular-price {
    display: block !important;
    color: #6f6f6f;
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    &.is_hidden {
      display: none !important;
    }
    @media (max-width: 768px) {
      background: #fff;
    }
  }

  .purchase__pet-locket {
    gap: 0;
    margin: 16px auto 30px;
    border-radius: 4px;
    border: 2px solid #f0f0f4;
    background: #fff;
    padding: 8px 27px;
    cursor: pointer;
    @media (max-width: 995px) {
      margin: 16px auto 20px;
    }
    label:not(.custom-label) {
      color: #212529;
      font-family: 'Roboto', sans-serif !important;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      text-align: center;
      margin-left: 5px;
      @media (max-width: 995px) {
        font-size: 12px;
      }
    }
  }

  .overall-price.lp-tr--mobile {
    color: #515151;
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
    &.is_hidden {
      display: none !important;
    }
    @media (max-width: 1095px) {
      font-size: 38px;
    }

    @media (max-width: 995px) {
      font-size: 28px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
      letter-spacing: initial;
      font-weight: 700;
      line-height: 32px;
      background: #fff;
      margin: 0;
      padding: 8px 22px 2px;
    }
  }

  .lp-tr--btn {
    margin: 16px 0;
    @media (max-width: 993px) {
      margin: 16px 0 !important;
    }
    @media (max-width: 768px) {
      background: #fff;
      margin: 0 !important;
      padding: 12px 22px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      max-width: 345px;
      margin: 0 auto;
      font-family: 'DIN Condensed';
      font-size: 22px !important;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border-radius: 50px;
      @media (max-width: 768px) {
        height: 54px;
        font-size: 20px !important;
        max-width: 100%;
      }
    }
  }

  .stock_up_title {
    color: #212529;
    text-align: center;
    font-family: 'DINEngschrift LT' !important;
    font-size: 42px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 110%;
      letter-spacing: 0.72px;
      margin-bottom: 8px;
    }
  }

  .new_pet_locket_wrapper {
    padding: 12px 30px;

    .purchase__pet-locket {
      margin: 0;
      padding: 8px 6px 8px 12px;
      label:not(.custom-label) {
        font-size: 14px;
        text-align: left;
        @media (max-width: 361px) {
          font-size: 13px;
        }
        @media (max-width: 345px) {
          font-size: 12px;
        }
      }
    }
  }

  .guarantee_block {
    @media (max-width: 768px) {
      padding: 0 22px;
      background: #fff;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      @media (max-width: 768px) {
        gap: 10px;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        svg {
          height: 18px;
          width: 18px;
          object-fit: cover;
        }
        span {
          color: #515151;
          font-family: 'Roboto', sans-serif !important;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          @media (max-width: 995px) {
            font-size: 10px;
          }
          @media (max-width: 768px) {
            font-size: 14px;
          }
          @media (max-width: 361px) {
            font-size: 12px;
          }
        }
      }
    }
  }

  .new_bundle_price_wrapper {
    @media (max-width: 768px) {
      background: #fff;
      padding: 8px 30px 0;
    }
    .new_bundle_price_total {
      color: #515151;
      text-align: center;
      font-family: 'Roboto', sans-serif !important;
      font-size: 40px;
      font-weight: 900;
      line-height: 47px;
      letter-spacing: 0.6px;
      margin-bottom: 12px;
      @media (max-width: 1095px) {
        font-size: 38px;
      }
      @media (max-width: 995px) {
        font-size: 28px;
      }
      @media (max-width: 768px) {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 2px;
      }
    }
    .new_bundle_reg_price_total {
      color: #6f6f6f;
      text-align: center;
      font-family: 'Roboto', sans-serif !important;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

body {
  @media (max-width: 768px) {
    &.tooltip_open {
      position: relative;
      overflow: hidden;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        display: block;
        z-index: 11;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);
      }

      .new_bundle_tooltip {
        background: #fff;
        svg path {
          fill: #337c6b;
        }
      }
    }
  }
}
