body {
  @media (max-width: 768px) {
    padding-bottom: 80px;
  }
  #shopify-section-template--18135477813405__sub {
    display: none !important;
  }
  #shopify-section-template--18135477813405__172779113664c32ea5 {
    > div {
      margin: 0;
      padding: 0;
    }
  }

  &.rebuy-modal-visible,
  &.rebuy-cart-visible {
    .sticky_block {
      opacity: 0;
      pointer-events: none;
    }
  }
}
.page-content--product {
  padding: 56px 0 0;
  @media (max-width: 768px) {
    padding-top: 8px;
  }
  > div > .product-grid__container {
    margin: 0;
    > div {
      padding: 0;
    }
  }
  product-images {
    .product__photos {
      margin: 0;
    }
    .product__main-photos {
      .product-slideshow {
        border: none;
      }
    }
    @media (max-width: 768px) {
      .flickity-slider {
      }
      .product-main-slide {
        width: 100% !important;
        margin: 0 !important;
        border: 1px solid #e8e8e1 !important;
      }
    }
  }
  .product-single__meta {
    padding: 0 0 0 67px;
    @media (max-width: 768px) {
      padding: 0;
      margin: 22px 0 28px !important;
    }
    .product-block {
      margin: 0;
    }
    .product-single__title {
      color: #000;
      font-family: 'Plantin Std';
      font-size: 34.166px;
      font-weight: 400;
      line-height: 39.27px;
      letter-spacing: 1.785px;
      margin: 0 0 8px;
      @media (max-width: 768px) {
        font-size: 25.051px;
        line-height: 29.11px;
        letter-spacing: 1.323px;
      }
    }
    #shopify-block-yotpo_product_reviews_ugc_star_rating_FVceyX {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 24px;
      margin-bottom: 16px;
      @media (max-width: 768px) {
        margin-bottom: 12px;
      }
      .yotpo-reviews-star-ratings-widget {
        margin: 0 !important;
        .yotpo-sr-bottom-line-summary {
          display: flex !important;
          gap: 12px;
          align-items: center !important;
          justify-content: flex-start;
          > div {
            margin: 0 !important;
            &:first-child {
              height: 15px !important;
              margin-top: -4px !important;
            }
          }
          .yotpo-sr-bottom-line-left-panel {
            color: #f3ad3c !important;
            font-family: 'Harmonia Sans Pro Cyr' !important;
            font-size: 16px !important;
            font-weight: 400 !important;
            line-height: normal !important;
            margin: 0 0 0 6px !important;
          }
          .yotpo-sr-bottom-line-text {
            color: #2c2c2c !important;
            font-family: 'Harmonia Sans Pro Cyr' !important;
            font-size: 15px !important;
            font-weight: 400 !important;
            line-height: 24px !important;
            letter-spacing: 0.75px !important;
            padding: 0 !important;
          }
        }
      }
    }
    block-variant-picker {
      margin-bottom: 30px !important;
      @media (max-width: 768px) {
        margin-bottom: 22px !important;
      }
      > .variant-button-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin: 0 !important;
        @media (max-width: 768px) {
          gap: 8px;
        }
        .variant__label,
        .variant__label[for] {
          color: #000;
          font-family: 'Harmonia Sans Pro Cyr';
          font-size: 15px;
          font-weight: 400;
          line-height: 25.6px;
          letter-spacing: 0.75px;
          margin: 0 0 12px !important;
          @media (max-width: 768px) {
            line-height: 22.4px;
            margin: 0 0 8px !important;
          }
        }
        label {
          color: #000;
          font-family: 'Harmonia Sans Pro Cyr';
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.75px;
          border-radius: 4px;
          background: #fff;
          box-shadow: 0px 0px 0px 1px #e8e8e1;
          margin: 0;
          @media (max-width: 768px) {
            font-size: 13px;
            line-height: 20.8px;
            letter-spacing: 0.65px;
          }
        }
        input[type='radio']:checked + label {
          box-shadow: 0px 0px 0px 2px #000;
        }
      }
    }
    block-price {
      .variant__label {
        display: block;
        color: #000;
        font-family: 'Harmonia Sans Pro Cyr';
        font-size: 15px;
        font-weight: 400;
        line-height: 22.4px;
        letter-spacing: 0.75px;
        margin: 0 0 10px;
        @media (max-width: 768px) {
          margin: 0 0 8px;
        }
      }
      .block-price__container {
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        > div {
          margin: 0 !important;
        }
        .block-price__sale {
          gap: 8px;
          span {
            margin: 0;
            color: #1c1d1d;
            font-family: 'Harmonia Sans Pro Cyr';
            font-size: 24px;
            font-weight: 400;
            line-height: 25.6px;
            letter-spacing: 0.65px;
            @media (max-width: 768px) {
              font-size: 16px;

              &.product__price {
                > span {
                  font-size: 22px;
                  sup {
                    top: -7px;
                  }
                }
              }
            }
            sup {
              font-size: 11px;
              line-height: 15.36px;
              top: -9px;
              @media (max-width: 768px) {
                top: -5px;
              }
            }
          }
        }
        .product__price-savings {
          color: #e43b3b;
          font-family: 'Harmonia Sans Pro Cyr';
          font-size: 15px;
          font-weight: 600;
          line-height: 20.8px;
          letter-spacing: 0.65px;
        }
      }
    }
    .product-block--sales-point {
      display: none;
    }
    product-inventory {
      color: #13a360;
      font-family: 'Harmonia Sans Pro Cyr';
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      padding: 0 !important;
      margin: 22px 0 12px !important;
      @media (max-width: 768px) {
        margin: 28px 0 8px !important;
        font-size: 13px;
        line-height: 20.8px;
        letter-spacing: 0.65px;
      }
      .product-inventory__point {
        margin: 0 !important;
        .icon--inventory:before,
        .icon--inventory:after {
          background: #13a360;
        }
      }
    }
    block-buy-buttons {
      .add-to-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 48px;
        color: #000;
        font-family: 'Harmonia Sans Pro Cyr';
        font-size: 16px;
        font-weight: 600;
        line-height: 21.3px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        border: 1px solid #edcf48;
        background: #f9d94c;
        transition: all 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .shopify-payment-button {
        margin-top: 14px;
        @media (max-width: 768px) {
          margin-top: 12px;
        }
      }
    }
    #shopify-block-tolstoy_shoppable_video_ugc_stories_block_wq3b84 {
      ._stories_1qx2f_1 {
        margin: 0;
        gap: 24px;
        @media (max-width: 768px) {
          gap: 18px;
        }
        .tolstoy-stories-title {
          color: #000 !important;
          font-family: 'Plantin Std' !important;
          font-size: 28px !important;
          font-weight: 400 !important;
          line-height: 32px !important;
          letter-spacing: 1px !important;
          margin: 0;
          @media (max-width: 768px) {
            color: #232323 !important;
            text-align: center !important;
            font-size: 24px !important;
            line-height: 28px !important;
            letter-spacing: 1.197px !important;
          }
        }
        ._tilesContainer_1qx2f_19 {
          gap: 12px !important;
          ._storyTile_1qx2f_72 {
            max-width: 156px !important;
            max-height: 226px;
            height: 100%;
            ._storyVideoImage_1qx2f_31 {
              max-width: 100% !important;
              height: 100%;
              min-height: 226px;
              aspect-ratio: unset !important;
            }
            ._storyVideo_1qx2f_31 {
              width: 100% !important;
              height: 100% !important;
              border-radius: 12px !important;
              border: none !important;
              max-width: 100% !important;
            }
          }
        }
      }
    }
    #shopify-block-rebuy_personalization_engine_rebuy_widget_XMhGer {
      margin-top: 32px;
      @media (max-width: 768px) {
        margin-top: 28px;
      }
      .rebuy-bundle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .rebuy-widget {
        padding: 0;
        .primary-title {
          color: #232323;
          font-family: 'Plantin Std';
          font-size: 28px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 1.47px;
          margin: 0 0 24px;
          @media (max-width: 768px) {
            text-align: center;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 1.197px;
            margin-bottom: 18px;
          }
        }
        .rebuy-bundle__images {
          margin: 0;
          max-width: 346px;
          width: 100%;
          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
        .rebuy-bundle__actions {
          max-width: 346px;
          width: 100%;
          margin-bottom: 10px;
          @media (max-width: 768px) {
            max-width: 100%;
            margin-bottom: 4px;
            padding-top: 24px;
          }
          .rebuy-bundle__actions-price {
            width: 100%;
            @media (max-width: 768px) {
              margin-top: 0;
            }
            .rebuy-bundle__actions-price-label {
              color: #000;
              font-family: 'Harmonia Sans Pro Cyr';
              font-size: 14.883px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.75px;
              @media (max-width: 768px) {
                font-size: 12.898px;
                line-height: 20.8px;
                letter-spacing: 0.65px;
              }
            }
            .rebuy-bundle__actions-price-value {
              font-family: 'Harmonia Sans Pro Cyr';
              font-size: 15px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.75px;
              @media (max-width: 768px) {
                font-size: 13px;
                line-height: 20.8px;
                letter-spacing: 0.65px;
              }
            }
          }
          .rebuy-bundle__actions-buttons {
            margin: 0;
            width: 100%;
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 48px;
              border: 1px solid #edcf48;
              background: #f9d94c;
              color: #000;
              font-family: 'Harmonia Sans Pro Cyr';
              font-size: 16px;
              font-weight: 600;
              line-height: 21.3px;
              letter-spacing: 0.75px;
              text-transform: uppercase;
            }
          }
        }
        .rebuy-bundle__items {
          .rebuy-product-label {
            color: #000;
            font-family: 'Harmonia Sans Pro Cyr';
            font-size: 14.883px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.75px;
            @media (max-width: 768px) {
              font-size: 12.898px;
              line-height: 20.8px;
              letter-spacing: 0.65px;
            }
          }
          .rebuy-product-title {
            color: #232323;
            font-family: 'Harmonia Sans Pro Cyr';
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.75px;
            @media (max-width: 768px) {
              font-size: 13px;
              line-height: 20.8px;
              letter-spacing: 0.65px;
            }
          }
          .rebuy-product-price {
            font-family: 'Harmonia Sans Pro Cyr';
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.75px;
            @media (max-width: 768px) {
              font-size: 13px;
              line-height: 20.8px;
              letter-spacing: 0.65px;
            }
          }
        }
      }
    }
  }
}

#shopify-section-template--18135477813405__1727770539adc7a55b {
  & > .index-section {
    @media (max-width: 768px) {
      padding: 0;
      .yotpo-display-s .yotpo-main-widget-tabs {
        margin-top: 28px;
        justify-content: flex-start;
      }
    }
  }
}

.best_seller_label_block {
  position: absolute;
  left: 22px;
  top: 22px;
  z-index: 5;
  max-width: 154px;
  max-height: 38px;
  @media (max-width: 768px) {
    max-width: 138px;
    max-height: 34px;
    top: 11px;
    left: 11px;
  }
  svg {
    width: 100%;
  }
}

.bought_so_far_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  background: #f8f8f8;
  @media (max-width: 768px) {
    width: max-content;
    margin-bottom: 12px;
    padding: 8px !important;
  }
  svg {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    @media (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
  p {
    color: #000;
    font-family: 'Harmonia Sans Pro Cyr';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.75px;
    margin: 0;
  }
}

.get_free_delivery_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 12px;
  padding: 8px;
  margin: 22px 0;
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid #eee;
  background: #f8f8f8;
  @media (max-width: 768px) {
    margin: 16px 0 22px;
    width: 100%;
    justify-content: flex-start;
  }
  svg {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }
  p {
    color: #000;
    font-family: 'Harmonia Sans Pro Cyr';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.75px;
    margin: 0;
    @media (max-width: 1295px) {
      font-size: 14px;
    }
    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 21px;
      letter-spacing: 0.65px;
      max-width: 275px;
    }
    .accent_underline {
      font-weight: 600;
      text-decoration: underline;
    }
    .date_txt {
      color: #13a360;
      font-weight: 600;
    }
  }
}

.new_product_sales_points_block {
  margin: 0;
  .new_product_sales_points_list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 0;
    padding: 0;
    list-style: none;
    @media (max-width: 768px) {
      gap: 4px;
    }
    .new_product_sales_points_item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      margin: 0;
      svg {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
      }
      p {
        color: #000;
        font-family: 'Harmonia Sans Pro Cyr';
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.75px;
        margin: 0;
        @media (max-width: 768px) {
          font-size: 13px;
          line-height: 20.8px;
          letter-spacing: 0.65px;
        }
      }
    }
  }
}

.your_impact_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 22px 0 32px;
  @media (max-width: 768px) {
    display: none;
  }
  svg {
    width: 24px;
    height: 29px;
    flex-shrink: 0;
  }
  p {
    color: #4d7a50;
    font-family: 'Harmonia Sans Pro Cyr';
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
  }
}

.one_review_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  border-radius: 12px;
  background: #fff7e5;
  margin-bottom: 32px;
  padding: 16px;
  @media (max-width: 768px) {
    margin: 28px 0;
    gap: 10px;
    align-items: flex-start;
  }
  .info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (max-width: 768px) {
      gap: 12px;
    }
    .info_descr {
      color: #000;
      font-family: 'Harmonia Sans Pro Cyr';
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.75px;
      margin: 0;
      @media (max-width: 768px) {
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.65px;
      }
    }
    .name_stars_wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      .name_review {
        color: #000;
        font-family: 'Harmonia Sans Pro Cyr';
        font-size: 17px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.85px;
        margin: 0;
        @media (max-width: 768px) {
          font-size: 13px;
          line-height: 21px;
          letter-spacing: 0.65px;
        }
      }
      .stars_summary {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        .stars_wrapper {
          display: flex;
          gap: 3px;
        }
        span {
          color: #f3ad3c;
          font-family: 'Harmonia Sans Pro Cyr';
          font-size: 16px;
          font-weight: 400;
          line-height: normal;
          margin: 0;
        }
      }
    }
  }
  .img_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
    img {
      width: 100px;
      height: 100px;
      border-radius: 6px;
      object-fit: cover;
      @media (max-width: 768px) {
        width: 80px;
        height: 80px;
      }
    }
    .all_reviews_link {
      color: #000;
      font-family: 'Harmonia Sans Pro Cyr';
      font-size: 13px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.65px;
      text-decoration-line: underline;
      margin: 0;
      cursor: pointer;
    }
  }
}

.product_details_block {
  margin: 32px 0;
  @media (max-width: 768px) {
    margin: 28px -16px 20px;
    padding-top: 28px;
    border-top: 1px solid #e8e8e1;
  }
  > h2 {
    color: #232323;
    font-family: 'Plantin Std';
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1.47px;
    margin: 0 0 6px;
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 1.197px;
      padding: 0 16px;
    }
  }
  .product_details_accordion {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    @media (max-width: 768px) {
      padding: 0 16px;
    }
    .product_details_accordion_block {
      margin: 0;
      border-bottom: 1px solid #e8e8e1;
      &.active {
        border: none;
        span {
          transform: rotate(45deg);
        }
      }
      .product_details_accordion_link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        cursor: pointer;
        span {
          width: 22px;
          height: 22px;
          flex-shrink: 0;
          transition: all 0.5s ease;
        }
        p {
          color: #000;
          font-family: 'Harmonia Sans Pro Cyr';
          font-size: 15px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0.75px;
          margin: 0;
        }
      }
      .product_details_accordion_lists {
        display: none;
        border-top: 1px solid #d6d9dc;
        padding: 16px 0 0;
        > div {
          p {
            color: #000;
            font-family: 'Harmonia Sans Pro Cyr';
            font-size: 13px;
            font-weight: 400;
            line-height: 20.8px;
            letter-spacing: 0.65px;
            margin: 0;
          }
        }
      }
    }
  }
  .blur_txt {
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Показывать только 3 строки */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(20.8px * 3); /* Высота для 3 строк текста */
    @media (max-width: 768px) {
      -webkit-line-clamp: 6;
      height: calc(20.8px * 6);
    }
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 40px;
      background: linear-gradient(0deg, #fff 20%, #fff 33.82%, rgba(255, 255, 255, 0) 100%);
      bottom: -10px;
      left: 0;
    }
  }
  .see_more_block {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0px;
    cursor: pointer;
    &.is_open {
      svg {
        transform: rotate(180deg);
      }
    }
    div {
      color: #1773b0;
      font-family: 'Harmonia Sans Pro Cyr';
      font-size: 13px;
      font-weight: 600;
      line-height: 20.8px;
      letter-spacing: 0.65px;
      margin: 0;
      @media (max-width: 768px) {
        font-weight: 400;
      }
    }
  }
}

.main_benefits_block {
  .main_benefits_list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    background: #f8f8f8;
    border-radius: 12px;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .main_benefits_item {
      display: flex;
      flex-direction: column;
      width: calc(100% / 3);
      gap: 10px;
      padding: 16px;
      margin: 0;
      @media (max-width: 768px) {
        flex-direction: row;
        width: 100%;
        gap: 12px;
      }
      &:nth-child(1) {
        @media (max-width: 768px) {
          .main_benefits_item_icon_wrapper {
            margin-top: 8px;
          }
        }
      }
      &:nth-child(2) {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        @media (max-width: 768px) {
          border-left: none;
          border-right: none;
          border-bottom: 1px solid #eee;
          border-top: 1px solid #eee;
        }
      }
      &_icon_wrapper {
        width: 28px;
        height: 28px;
        flex-shrink: 0;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      &_title {
        color: #000;
        font-family: 'Segoe UI';
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.75px;
        margin: 0 0 8px;
        @media (max-width: 768px) {
          max-width: 236px;
          br {
            display: none;
          }
        }
      }
      &_txt {
        color: #000;
        font-family: 'Harmonia Sans Pro Cyr';
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.65px;
        margin: 0;
        max-width: 179px;
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }
}

.comparison_table_block {
  margin-top: 32px;
  @media (max-width: 768px) {
    margin: 28px -16px 0;
  }
  .comparison_table_main_title {
    color: #232323;
    font-family: 'Plantin Std';
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1.47px;
    margin: 0 0 22px;
    text-align: left;
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 1.197px;
      padding: 0 16px;
      margin-bottom: 20px;
    }
  }
  .custom_table {
    display: flex;
    align-items: stretch;
    > div {
      width: calc(100% / 2);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @media (max-width: 768px) {
      }

      &.benefits_row {
        max-width: 96px;
        @media (max-width: 768px) {
          flex-shrink: 0;
        }
        .body_table {
          .table_cell {
            border: 1px solid #eee;
            @media (max-width: 768px) {
              padding: 8px;
              border: none;
            }
          }
        }
      }
      &.goodevas_row {
        .header_table {
          background: #fff6e0;
          border-radius: 12px 0 0 0;
          .table_cell {
            background: #fffceb;
            border-radius: 12px 12px 0 0;

            .new_img {
              background: url(https://conversionratestore.github.io/projects/goodevas/img/goodevas_img.webp) no-repeat
                center -1px;
              width: 100%;
              height: 100%;
              background-size: cover;
              display: block;
            }
          }
        }
        .body_table {
          .table_cell {
            @media (max-width: 1295px) {
              padding: 8px 10px;
            }
            @media (max-width: 768px) {
              padding: 8px;
              justify-content: flex-start;
            }
          }
        }
      }
      &.competitors_row {
        margin-left: -7px;
        .table_cell {
          border: 1px solid #eee;
          @media (max-width: 768px) {
            border: none;
          }
        }
        .header_table {
          .table_cell {
            background: #fff6e0;
            border-radius: 0 12px 0 0;
            border-left: none;
            .new_img {
              background: url(https://conversionratestore.github.io/projects/goodevas/img/competitors_img.webp)
                no-repeat center -3px;
              width: 100%;
              height: 100%;
              background-size: cover;
              display: block;
            }
          }
        }
        .body_table {
          .table_cell {
            @media (max-width: 1295px) {
              padding: 8px 10px;
            }
            @media (max-width: 768px) {
              justify-content: flex-start;
              padding: 8px;
            }
          }
        }
      }
    }
    .is_active {
      position: relative;
      background: #fffceb;
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 12px;
        border: 6px solid #ffcc60;
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
        top: -3px;
      }
      .body_table {
        .table_cell {
          &:nth-child(odd) {
            background: #ffd479;
          }
          &:nth-child(even) {
            background: #ffcc60;
          }
          &:last-child {
            border-radius: 0 0 12px 12px;
          }
        }
      }
    }

    .header_table {
      .table_cell {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        h3 {
          width: 100%;
          color: #000;
          text-align: center;
          font-family: 'Harmonia Sans Pro Cyr';
          font-size: 13px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 1px;
          margin: 0;
          padding: 14px 12px 0 12px;
        }
        img {
          max-width: 163px;
          @media (max-width: 768px) {
            max-width: 114px;
          }
        }
      }
    }
    .body_table {
      .table_cell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        min-height: 106px;
        padding: 8px 4px;

        &:nth-child(odd) {
          background: #fffbf5;
        }
        &:nth-child(even) {
          background: #fff6e0;
        }
        &.benefits_cell {
          &:first-child {
            border-radius: 12px 0px 0px 0px;
            @media (max-width: 768px) {
              border-radius: 0;
              min-height: 140px;
            }
          }
          &:last-child {
            border-radius: 0px 0px 0px 12px;
            @media (max-width: 768px) {
              border-radius: 0;
            }
          }
          p {
            font-size: 13px;
            letter-spacing: 1px;
            text-transform: uppercase;
            @media (max-width: 1170px) {
              font-size: 12px;
            }
            @media (max-width: 768px) {
              font-size: 13px;
            }
          }
        }
        &.goodevas_cell {
          &:first-child {
            @media (max-width: 768px) {
              min-height: 140px;
              padding: 14px 8px;
            }
          }
          p {
            @media (max-width: 768px) {
              max-width: 127px;
            }
          }
        }
        &.competitors_cell {
          &:first-child {
            @media (max-width: 768px) {
              min-height: 140px;
              padding: 14px 8px;
            }
          }
          &:last-child {
            border-radius: 0 0 12px 0;
            @media (max-width: 768px) {
              border-radius: 0;
            }
          }
          p {
            max-width: 250px;
            @media (max-width: 768px) {
              max-width: 131px;
            }
          }
        }

        .check_icon_wrapper,
        .cancel_icon_wrapper {
          position: relative;
          display: flex;
          width: 18px;
          height: 18px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          z-index: 1;
        }
        .check_icon_wrapper {
          background: #fff;
        }
        .cancel_icon_wrapper {
          background: #d3c9b2;
        }
        p {
          position: relative;
          color: #000;
          text-align: center;
          font-family: 'Harmonia Sans Pro Cyr';
          font-size: 15px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.75px;
          word-wrap: break-word;
          word-break: break-word;
          z-index: 1;
          margin: 0;
          max-width: 255px;
          @media (max-width: 1170px) {
            font-size: 12px;
          }
          @media (max-width: 768px) {
            font-size: 13px;
            letter-spacing: 1px;
          }
          @media (max-width: 376px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.product_image_gallery_block {
  margin: 120px 0 25px;
  max-width: var(--page-width);
  padding: 0 var(--pageWidthPadding);
  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
  }
  .product_image_gallery_container {
    width: 90%;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 100%;
    }
    > h2 {
      color: #232323;
      font-family: 'Plantin Std';
      font-size: 23.153px;
      font-weight: 400;
      line-height: 26.33px;
      letter-spacing: 1.197px;
      margin: 0 0 20px;
      @media (max-width: 768px) {
        padding: 0 16px;
      }
    }
    .product_image_gallery_list {
      display: flex;
      flex-wrap: wrap;
      gap: 18px;
      padding: 0;
      margin: 0;
      list-style: none;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 14px;
      }
      .product_image_gallery_item {
        width: calc((100% - 36px) / 3);
        margin: 0;
        @media (max-width: 768px) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.faq_block {
  margin-top: 32px;
  @media (max-width: 768px) {
    margin-top: 28px;
    padding: 0 16px;
  }
  > h2 {
    color: #232323;
    font-family: 'Plantin Std';
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1.197px;
    margin: 0 0 6px;
    @media (max-width: 768px) {
      font-size: 23.153px;
      line-height: 26.33px;
    }
  }
  .faq_accordion {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    .faq_accordion_block {
      margin: 0;
      border-bottom: 1px solid #e8e8e1;
      &.active {
        border: none;
        span {
          transform: rotate(45deg);
        }
      }
      .faq_accordion_link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        cursor: pointer;
        span {
          width: 22px;
          height: 22px;
          flex-shrink: 0;
          transition: all 0.5s ease;
        }
        p {
          color: #000;
          font-family: 'Harmonia Sans Pro Cyr';
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 1px;
          margin: 0;
          @media (max-width: 768px) {
            max-width: 295px;
          }
        }
      }
      .faq_accordion_lists {
        display: none;
        border-top: 1px solid #d6d9dc;
        padding: 16px 0 0;
        > div {
          p {
            color: #000;
            font-family: 'Harmonia Sans Pro Cyr';
            font-size: 13px;
            font-weight: 400;
            line-height: 20.8px;
            letter-spacing: 0.65px;
            margin: 0;
          }
        }
      }
    }
  }
}

.sticky_block {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 12px 24px;
  border-top: 1px solid #e5e5e5;
  background: #fff7e5;
  z-index: 1234;
  .add_to_cart_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    border: 1px solid #edcf48;
    background: #f9d94c;
    color: #000;
    font-family: 'Harmonia Sans Pro Cyr';
    font-size: 16px;
    font-weight: 600;
    line-height: 21.3px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }
  .color_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    > span {
      color: #000;
      font-family: 'Harmonia Sans Pro Cyr';
      font-size: 14px;
      font-weight: 400;
      line-height: 22.4px;
      letter-spacing: 0.65px;
    }
  }

  .custom_dropdown {
    position: relative;
    display: inline-block;
    width: max-content;

    .dropdown_toggle {
      position: relative;
      width: 100%;
      text-align: left;
      cursor: pointer;
      color: #000;
      font-family: 'Harmonia Sans Pro Cyr';
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0.65px;
      padding-right: 20px;
      &.disabled {
        pointer-events: none;
        color: #c3c3c3;
        opacity: 0.7;
      }
      &::after {
        content: '';
        position: absolute;
        background-image: url(//www.natpat.com/cdn/shop/files/select-form-icon.svg?v=374583230437431762);
        background-repeat: no-repeat;
        background-size: cover;
        width: 10px;
        height: 10px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.active {
        &::after {
          transform: rotateX(180deg) translateY(50%);
        }
      }
    }

    .dropdown_menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: max-content;
      overflow: hidden;
      border-radius: 4px;
      border: 2px solid #d3d3d3;
      background-color: #fff;
      z-index: 5;
      margin-top: 1px;
      &.show {
        display: block;
      }
    }
    .dropdown_item {
      padding: 5px 10px;
      color: #000;
      font-family: 'Harmonia Sans Pro Cyr';
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.65px;
      cursor: pointer;
      &.active {
        background: #ffcc60;
        color: white;
      }
    }
  }
}
