#lpfpPackage {
  padding: 0;
  background: #fff;
  > .container {
    display: none;
    .offerBox {
      // display: block !important;
    }
  }
  #newBlockPackage {
    .new_title_block_package {
      padding: 0 20px;
      margin-bottom: 15px;
      p {
        color: #202020;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 6px;
      }
      h2 {
        color: #f05a27;
        text-align: center;
        font-family: 'DINEngschrift LT', sans-serif !important;
        font-size: 55px;
        font-weight: 400;
        line-height: 66px;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
}

.new_free_shipping_block_package {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  background: #f4be00;
  margin: 0 0 16px;
  padding: 10px 0;
}
.focuspatch_packs {
  padding: 0 20px;
  .focuspatch_packs_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .focuspatch_packs_item {
      position: relative;
      padding: 8px;
      margin: 0;
      border-radius: 6px;
      border: 2px solid #eceef0;
      background: #fff;
      box-shadow:
        0px 2px 4px 0px rgba(12, 11, 11, 0.1),
        0px 12px 32px 0px rgba(0, 0, 0, 0.05);

      transition:
        border 0.3s,
        background-color 0.3s;

      &.active {
        border: 2px solid #f05a27;
        background: #feefea;
      }

      .focuspatch_packs_prices {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        .focuspatch_packs_image {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          max-width: 64px;
          min-height: 64px;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          border: 1px solid #eceef0;
          flex-shrink: 0;

          img {
            width: 60px;
            height: 60px;
          }
        }
        .focuspatch_packs_info {
          display: flex;
          flex-direction: column;
          gap: 4px;
          .focuspatch_packs_price_per_pack {
            color: #0c0b0b;
            font-family: 'DINEngschrift LT', sans-serif !important;
            font-size: 20px;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            margin: 0;
          }
          .focuspatch_packs_pcs_wrapper {
            color: #6f6f6f;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
            margin: 0;
          }
          .focuspatch_packs_reg_final_prices {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 4px;
            .focuspatch_packs_reg_price {
              color: #6f6f6f;
              font-family: 'Roboto', sans-serif;
              font-size: 12px;
              font-weight: 400;
              line-height: 130%;
              text-decoration: line-through;
              margin: 0;
            }
            .focuspatch_packs_final_price {
              color: #0c0b0b;
              font-family: 'Roboto', sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 130%;
              margin: 0;
            }
          }
        }
      }

      .focuspatch_packs_banners {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 4px;
        right: 8px;
        top: 8px;
        max-width: 73px;
        width: 100%;
        p {
          color: #fff;
          text-align: center;
          font-family: 'DINEngschrift LT', sans-serif !important;
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 0.72px;
          text-transform: uppercase;
          margin: 0;
          padding: 6px;
          border-radius: 3px;
          &.save_banner {
            background: #4caf50;
          }
          &.best_deal_banner {
            background: #efae16;
            color: #0c0b0b;
          }
          &.top_seller_banner {
            background: #0c0b0b;
          }
        }
      }
    }
  }
}
.new_price_wrapper_package {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 12px 0;
  .new_reg_price {
    color: #616267;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1.3px;
    text-decoration: line-through;
    text-transform: uppercase;
    margin: 0;
  }
  .new_final_price {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
  }
  .percent_off {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #f05a27;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
  }
}
.new_proceed_to_checkout_wrapper,
.next_step_wrapper {
  padding: 0 20px;
  &.is_hidden {
    display: none;
  }
  .new_proceed_to_checkout_btn,
  .next_step_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    color: #fefefe;
    font-family: 'DINEngschrift LT', sans-serif !important;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid #0050d4;
    background: #0050d4;
    padding: 12px;
    margin: 0;
  }
}
.new_guarantee_block_package {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 0;
  padding: 0 20px;
  img {
    max-width: 267px;
  }
}
.new_subscription {
  margin: 33px 0 0;
  padding: 0 20px;
  &.is_hidden {
    display: none;
  }

  .new_subscription_block {
    &.is_disabled {
      .plan_selection {
        label {
          // pointer-events: none;
          color: #d3d3d3;
        }
      }
      .plan_comment {
        display: none;
      }
      .is_active_one_pack {
        display: flex;
      }
    }
    .plan_selection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc((100% - 12px) / 2);
        padding: 9.2px 7px;
        margin: 0;
        color: #717171;
        font-family: 'Roboto', sans-serif !important;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 6px;
        border: 2px solid #d3d3d3;
        background: #fff;
        letter-spacing: initial;
        cursor: pointer;
        @media (max-width: 361px) {
          font-size: 13px;
        }
        &.subscribe_save_variant {
          position: relative;
          &::before {
            content: 'Save extra 15%';
            position: absolute;
            top: -19.5px;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 8px 2px 8px;
            border-radius: 4px 4px 0px 0px;
            background: #f05a27;
            color: #fff;
            font-family: 'DINEngschrift LT';
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            z-index: 1;
          }
        }
      }

      input[type='radio'] {
        display: none;
        &:checked + label {
          color: #212529;
          border: 2px solid #f05a27;
          background: #fff;
        }
      }
    }
    .plan_comment {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      color: #f05a27;
      font-family: 'Roboto', sans-serif !important;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      line-height: 26px;
      text-decoration-line: underline;
      margin: 4px 0 4px auto;
      letter-spacing: initial;
      @media (max-width: 361px) {
        gap: 8px;
      }
      @media (max-width: 345px) {
        font-size: 12px;
      }
      > svg {
        width: 15px;
        height: 20px;
      }
    }
    [data-tooltip] {
      cursor: pointer;
    }
    [data-tippy-root] {
      right: -5px !important;
      z-index: 10 !important;
      @media (max-width: 345px) {
        right: -3px !important;
      }
    }
    .tippy-box {
      background-color: #fff;
      filter: drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.1));
      box-shadow: 30px 18px 39px 79px rgba(0, 0, 0, 0.08);
      max-width: 330px !important;
      border-radius: 8px;
      .tippy-content {
        padding: 16px;
        .tooltip_block {
          p {
            color: #212529;
            font-family: 'Roboto', sans-serif !important;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            margin: 0 0 8px;
            text-transform: initial;
            font-style: normal;
            text-align: left;
          }
          ul {
            padding-left: 20px;
            margin: 0;
            text-align: left;

            li {
              color: #515151;
              list-style: disc;
              font-size: 11px;
              & + li {
                margin-top: 15px;
              }
              p {
                color: #515151;
                font-weight: 400;
                margin: 0;
              }
            }
          }
        }
      }
      &[data-placement^='bottom'] > .tippy-arrow,
      &[data-placement^='top'] > .tippy-arrow {
        display: block;
        color: white;
        &:before {
          left: -8px !important;
          @media (max-width: 345px) {
            left: -3px !important;
          }
        }
      }
    }
    .is_active_one_pack {
      display: none;
      position: relative;
      gap: 4px;
      max-width: 310px;
      color: #f05a27;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      line-height: 22px;
      text-decoration-line: underline;
      letter-spacing: normal;
      margin: 4px 0 12px auto;
      @media (max-width: 345px) {
        font-size: 13px;
      }
      > svg {
        width: 15px;
        height: 20px;
        flex-shrink: 0;
      }
      > span {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }
    .plan_details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      padding: 12px;
      border-radius: 4px;
      border: 2px solid #d3d3d3;
      background: #ecf2f1;
      margin: 0;
      list-style: none;
      li {
        position: relative;
        color: #000;
        font-family: 'Roboto', sans-serif !important;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: normal;
        padding-left: 22px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 13.9px;
          height: 13.9px;
          background: url(https://conversionratestore.github.io/projects/buzzpatch/focuspatch/img/checkmark_done_complete_orange.svg)
            no-repeat center center;
          background-size: inherit;
          border-radius: 50%;
        }
      }
      &.one_time_checked {
        + .custom_dropdown {
          display: none;
        }
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(5) {
          color: #c3c3c3;
          &::before {
            content: '';
            background: url(https://conversionratestore.github.io/projects/buzzpatch/img/stop_icon.svg) no-repeat center
              center;
            background-size: contain;
          }
        }
      }
    }
  }

  .custom_dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 12px;

    .dropdown_toggle {
      position: relative;
      width: 100%;
      text-align: left;
      border-radius: 4px;
      border: 2px solid #d3d3d3;
      background: #fff;
      padding: 8px 12px;
      cursor: pointer;
      color: #0c0b0b;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: normal;
      &.disabled {
        pointer-events: none;
        color: #c3c3c3;
        opacity: 0.7;
      }
      &::after {
        content: '';
        position: absolute;
        background-image: url(https://conversionratestore.github.io/projects/buzzpatch/focuspatch/img/select_form_icon_green.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.active {
        &::after {
          transform: rotateX(180deg) translateY(50%);
        }
      }
    }

    .dropdown_menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      overflow: hidden;
      border-radius: 4px;
      border: 2px solid #d3d3d3;
      background-color: #fff;
      z-index: 5;
      margin-top: 1px;
      &.show {
        display: block;
      }
    }
    .text_transform {
      text-transform: lowercase;
    }
    .most_common {
      color: #717171;
    }

    .dropdown_item {
      padding: 5px 10px;
      color: #0c0b0b;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      cursor: pointer;
      letter-spacing: normal;
      &.selected {
        background: #0191d7;
        color: white;
        .most_common {
          color: white;
        }
      }
      &:hover {
        background: #1f4fc9;
        color: white;
        .most_common {
          color: white;
        }
      }
    }
  }
}

.crs_slide_in {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000000000000;
  transition: all 0.8s ease 0s;
  overflow: hidden;
  background: rgb(0 0 0 / 50%);
  &.active {
    opacity: 1;
    pointer-events: unset;
    > .crs_slide_in_container {
      transform: translateX(0);
      transition: all 0.8s ease 0s;
    }
  }
  .close {
    position: absolute;
    opacity: 1;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  > .crs_slide_in_container {
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
    max-width: 343px;
    width: 100%;
    height: 100%;
    background: #fcfcfa;
    transition: all 0.8s ease 0s;
    transform: translateX(100%);
  }
  .crs_slide_in_content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header_slide_in_package {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px 16px 8px 16px;
    .is_hidden {
      display: none;
    }
    svg {
      width: 16px;
      flex-shrink: 0;
    }
    .arrow_back {
      display: flex;
      align-items: center;
      justify-content: center;
      &.is_hidden {
        display: none;
      }
    }
    h2 {
      color: #212529;
      font-family: 'DINEngschrift LT', sans-serif !important;
      font-size: 26px;
      font-weight: 400;
      line-height: 110%;
      letter-spacing: 0.52px;
      text-transform: uppercase;
      margin: 0;
    }
    .step_wrapper {
      color: #d3d3d3;
      font-family: 'DINEngschrift LT', sans-serif !important;
      font-size: 26px !important;
      font-weight: 400;
      line-height: 110% !important;
      letter-spacing: 0.52px;
      text-transform: uppercase;
      margin: 0;
    }
  }
  .body_slide_in_package {
    padding: 16px;
    .focuspatch_packs {
      padding: 0;
      &.is_hidden {
        display: none;
      }
      .focuspatch_packs_list {
        gap: 12px;
      }
    }
    .main_title_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      &.is_hidden {
        display: none;
      }
      .main_title {
        color: #212529;
        font-family: 'Roboto', sans-serif;
        font-size: 15px !important;
        font-weight: 700;
        line-height: normal !important;
        text-transform: uppercase;
        letter-spacing: normal;
        margin: 0;
      }
      .change_btn {
        color: #f05a27;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: normal;
      }
    }
    .info_selected_package {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-height: 52px;
      padding: 8px;
      gap: 8px;
      border-radius: 6px;
      border: 1px solid #eceef0;
      background: #fff;
      &.is_hidden {
        display: none;
      }
      .details_wrapper {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: flex-start;
        .details_img_wrapper {
          width: 36px;
          height: 36px;
          flex-shrink: 0;
          border-radius: 3px;
          border: 1px solid #eceef0;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .details_quantity_wrapper {
          .details_price_for_pack {
            color: #0c0b0b;
            font-family: 'DINEngschrift LT';
            font-size: 16px !important;
            font-weight: 400;
            line-height: 110% !important;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            margin: 0;
          }
          .details_quantity {
            color: #6f6f6f;
            font-family: 'Roboto', sans-serif;
            font-size: 12px !important;
            font-weight: 400;
            line-height: 130% !important;
            letter-spacing: normal;
            margin: 0;
          }
        }
      }
      .price_wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 4px;
        .new_reg_price {
          color: #6f6f6f;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 130%;
          text-decoration: line-through;
          letter-spacing: normal;
          margin: 0;
        }
        .new_sale_price {
          color: #0c0b0b;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 130%;
          letter-spacing: normal;
          margin: 0;
        }
      }
    }
  }
  .footer_slide_in_package {
    background: #fff;
    box-shadow: 12px 0px 32px 0px rgba(0, 0, 0, 0.08);
    padding: 16px;
    margin: auto 0 0;
    .new_subscription {
      padding: 0;
      margin: 18px 0 12px;
      .new_subscription_block {
        .plan_selection {
          gap: 10px;
          label {
            padding: 9.2px 5px;
          }
        }
      }
    }
    .new_price_wrapper_package {
      margin-top: 0;
    }
    .new_proceed_to_checkout_wrapper,
    .next_step_wrapper {
      padding: 0;
      .new_proceed_to_checkout_btn,
      .next_step_btn {
        height: 50px;
        line-height: 18px;
        letter-spacing: 1px;
      }
    }
    .new_guarantee_block_package {
      padding: 0;
      margin-top: 12px;
    }
  }
}
