* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.relative_box {
  display: flex;
}

.relative_box li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #474747;
  margin: 0 0 16px;
}

.instruction p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6e6e6e;
  margin: 0;
}

.instruction p + p {
  margin-top: 15px;
}

.instruction > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -48px -48px 0;
  padding: 0;
}

.instruction > ul > li {
  width: 46%;
  margin: 0 48px 48px 0;
}

.instruction > ul > li ul {
  margin-top: 12px;
  list-style: outside;
  color: #6e6e6e;
  padding-left: 20px;
}
