.is-ctl-product {
  position: relative;
}
.is-ctl-product header.sticky {
  position: relative;
}
.is-ctl-product .rhweb-fixed-buy-widget.fixedBuyWidgetNone {
  display: none !important;
}
.is-ctl-product .sticky_block_desktop {
  display: flex;
  justify-content: center;
  padding: 16px 20px 0;
  gap: 45px;
}
.is-ctl-product .sticky_block_desktop .part_left {
  width: 60%;
}
.is-ctl-product .sticky_block_desktop .part_left > div {
  width: 100%;
  margin: 0;
  padding: 0;
}
.is-ctl-product .sticky_block_desktop .part_right {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 40%;
  height: 100%;
  height: 700px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.is-ctl-product .sticky_block_desktop .part_right::-webkit-scrollbar {
  display: none;
}
.is-ctl-product .sticky_block_desktop .part_right > div {
  width: 100%;
  margin: 0;
  padding: 0;
}
.is-ctl-product .fixed_block_desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1111111111111;
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
}
.is-ctl-product .fixed_block_desktop p {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  letter-spacing: initial;
  text-transform: initial;
}
.is-ctl-product .fixed_block_desktop > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.is-ctl-product .fixed_block_desktop > div .pdp_price {
  color: #25282a;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: initial;
  text-transform: initial;
  margin: 0;
}
.is-ctl-product .fixed_block_desktop > div .add_to_cart_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  min-width: 150px;
  width: 100%;
  height: 42px;
  border-radius: 3px;
  border: 1px solid #e4002b;
  background: #e4002b;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
  cursor: pointer;
  margin: 0;
}
.is-ctl-product .sticky_block_mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #d8d8d8;
  background: #fff;
  padding: 16px;
  z-index: 1044;
}
.is-ctl-product .sticky_block_mobile .add_to_cart_btn {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 3px;
  border: 1px solid #e4002b;
  background: #e4002b;
  cursor: pointer;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
}
.is-ctl-product #pdpBreadcrumbs {
  margin: 0 0 7px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}
.is-ctl-product #pdpBreadcrumbs a {
  color: #333;
}
.is-ctl-product #pdpBreadcrumbs .active_pdp {
  color: rgba(0, 0, 0, 0.35);
}

.offcanvas .d-grid [href="/checkout/cart"] {
  display: none !important;
}
.offcanvas .btn-block.ml-1 {
  margin-top: 1rem;
}

.header-minimal .header-minimal-back-to-shop-button {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  gap: 12px;
}
.header-minimal .header-minimal-logo {
  margin-bottom: 2px;
}
.header-minimal .header-minimal-contact small {
  line-height: 24px;
}/*# sourceMappingURL=main.css.map */