body {
  &.new_subscription_block_visible {
  }
  #getNow {
    background: #fbfbf9;
    padding: 20px 0 21px;
    gap: 0;
    .js-heading {
      margin-bottom: 16px;
      h2 {
        color: #0c0b0b;
        font-family: 'DINEngschrift LT';
        font-size: 32px !important;
        font-weight: 400 !important;
        line-height: 40px;
        letter-spacing: 0.64px;
        text-transform: uppercase;
        margin: 0;
      }
      .free-shipping-checkout {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    .magicpatch-packs {
      padding: 0 24px;
      .list-packs {
        border-radius: 6px;
        border: 2px solid #eceef0;
        background: #fff;
        box-shadow:
          0px 2px 4px 0px rgba(12, 11, 11, 0.1),
          0px 12px 32px 0px rgba(0, 0, 0, 0.05);
        padding: 5.2px 8px !important;
        &.active-slide {
          border: 2px solid #0191d7;
          background: linear-gradient(0deg, rgba(1, 145, 215, 0.1) 0%, rgba(1, 145, 215, 0.1) 100%), #fff !important;
          outline: none;
        }
        .stickers-prices {
          gap: 8px;
          .info {
            .pack-price {
              color: #0c0b0b;
              font-family: 'DINEngschrift LT';
              font-size: 20px !important;
              font-weight: 400;
              line-height: 110% !important;
              letter-spacing: 0.4px;
              text-transform: uppercase;
            }
            .pcs {
              color: #6f6f6f;
              font-family: 'Roboto', sans-serif !important;
              font-size: 14px !important;
              font-weight: 400;
              line-height: 130% !important;
              margin: 4px 0;
            }
            .before-after-prices {
              gap: 4px;
              align-items: flex-end;
              .strikethrough {
                color: #6f6f6f;
                font-family: 'Roboto', sans-serif !important;
                font-size: 12px !important;
                font-weight: 400;
                line-height: 130% !important;
                text-decoration: line-through;
                letter-spacing: normal;
                &.hidden {
                  display: block !important;
                }
              }
              .after-price {
                color: #0c0b0b;
                font-family: 'Roboto', sans-serif !important;
                font-size: 14px !important;
                font-weight: 400;
                line-height: 130% !important;
                letter-spacing: normal;
              }
            }
          }
          .sticker-image {
            max-width: 64px;
            max-height: 64px;
            border-radius: 4px;
            border: none;

            padding: 0;
            img {
              border-radius: 4px;
              max-width: 100% !important;
              max-height: 100% !important;
              border-radius: 3px;
              border: 1px solid #eceef0;
            }
          }
        }
        .buttons-sticker {
          gap: 4px;
          .save-btn,
          .top-seller-btn,
          .best-deal-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 73px;
            padding: 6px;
            color: #fff;
            text-align: center;
            font-family: 'DINEngschrift LT' !important;
            font-size: 12px !important;
            font-weight: 400;
            line-height: 12px !important;
            letter-spacing: 0.72px;
            text-transform: uppercase;
            border-radius: 3px;
          }
          .best-deal-btn {
            color: #0c0b0b;
            background: #efae16;
          }
          .save-btn {
            background: #4caf50;
            &.hidden {
              display: flex !important;
              span:not(.new_save_txt) {
                display: none !important;
              }
            }
            span {
              margin-left: 2px;
            }
          }
          .top-seller-btn {
            background: #0c0b0b;
          }
        }
      }
    }
    .view-prices {
      gap: 0;
      margin: 0;
      padding: 0 24px;
      > h3,
      .hide-price-pack,
      .stay-container .np-one-pack {
        display: none !important;
      }
      .stay-container {
        display: none !important;
      }
      #no-icart-open {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        border-radius: 60px;
        background: #0191d7;
        color: #fefefe;
        font-family: 'DINEngschrift LT';
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        margin: 12px auto 0;
        max-width: 100%;
        box-shadow: none;
      }
    }
    .reviews-slide {
      margin-top: 16px !important;
      padding: 0 !important;
      img {
        width: 100%;
        max-width: 267px;
        margin: 0;
        object-fit: contain;
      }
    }
  }
  #cons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 343px;
    background: #fcfcfa;
    padding: 0 !important;
    .title-logo {
      background: #f9f9f7;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-height: 45px;
      width: 100%;
      max-width: 100%;
      padding: 16px 16px 8px 16px;
      margin: 0 !important;
      .slide-logo {
        display: none;
      }
      .header_slide_in_cart {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        .is_hidden {
          display: none;
        }
        svg {
          width: 16px;
          flex-shrink: 0;
        }
        h2 {
          color: #212529;
          font-family: 'DINEngschrift LT';
          font-size: 26px;
          font-weight: 400;
          line-height: 110%;
          letter-spacing: 0.52px;
          text-transform: uppercase;
          margin: 0;
        }
        .step_wrapper {
          color: #d3d3d3;
          font-family: 'DINEngschrift LT';
          font-size: 26px !important;
          font-weight: 400;
          line-height: 110% !important;
          letter-spacing: 0.52px;
          text-transform: uppercase;
          margin: 0;
        }
      }
      .close-btn {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }
    .magicpatch-packs {
      padding: 16px;
      &.active_step_second {
        display: none !important;
      }
      ul {
        gap: 12px;
      }
      .list-packs {
        border-radius: 6px;
        border: 2px solid #eceef0;
        background: #fff;
        box-shadow:
          0px 2px 4px 0px rgba(12, 11, 11, 0.1),
          0px 12px 32px 0px rgba(0, 0, 0, 0.05);
        padding: 5.2px 8px !important;
        &.active-slide {
          border: 2px solid #0191d7;
          background: linear-gradient(0deg, rgba(1, 145, 215, 0.1) 0%, rgba(1, 145, 215, 0.1) 100%), #fff !important;
          outline: none;
        }
        .stickers-prices {
          gap: 8px;
          .info {
            .pack-price {
              color: #0c0b0b;
              font-family: 'DINEngschrift LT';
              font-size: 20px !important;
              font-weight: 400;
              line-height: 110% !important;
              letter-spacing: 0.4px;
              text-transform: uppercase;
            }
            .pcs {
              color: #6f6f6f;
              font-family: 'Roboto', sans-serif !important;
              font-size: 14px !important;
              font-weight: 400;
              line-height: 130% !important;
              margin: 4px 0;
            }
            .before-after-prices {
              gap: 4px;
              align-items: flex-end;
              .strikethrough {
                color: #6f6f6f;
                font-family: 'Roboto', sans-serif !important;
                font-size: 12px !important;
                font-weight: 400;
                line-height: 130% !important;
                text-decoration: line-through;
                letter-spacing: normal;
                &.hidden {
                  display: block !important;
                }
              }
              .after-price {
                color: #0c0b0b;
                font-family: 'Roboto', sans-serif !important;
                font-size: 14px !important;
                font-weight: 400;
                line-height: 130% !important;
                letter-spacing: normal;
              }
            }
          }
          .sticker-image {
            max-width: 64px;
            max-height: 64px;
            border-radius: 4px;
            border: none;
            padding: 0;
            img {
              border-radius: 4px;
              max-width: 100% !important;
              max-height: 100% !important;
              border-radius: 3px;
              border: 1px solid #eceef0;
            }
          }
        }
        .buttons-sticker {
          gap: 4px;
          .save-btn,
          .top-seller-btn,
          .best-deal-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 73px;
            padding: 6px;
            color: #fff;
            text-align: center;
            font-family: 'DINEngschrift LT' !important;
            font-size: 12px !important;
            font-weight: 400;
            line-height: 12px !important;
            letter-spacing: 0.72px;
            text-transform: uppercase;
            border-radius: 3px;
          }
          .best-deal-btn {
            color: #0c0b0b;
            background: #efae16;
          }
          .save-btn {
            background: #4caf50;
            &.hidden {
              display: flex !important;
              span:not(.new_save_txt) {
                display: none !important;
              }
            }
            span {
              margin-left: 2px;
            }
          }
          .top-seller-btn {
            background: #0c0b0b;
          }
        }
      }
    }
    .view-prices {
      gap: 0;
      width: 100%;
      margin: auto 0 0 !important;
      max-width: 100%;
      background: #fff;
      box-shadow: 12px 0px 32px 0px rgba(0, 0, 0, 0.08);
      padding: 16px;
      &.active_step_second {
        .new_subscription {
          display: block;
        }
      }
      > h3,
      .hide-price-pack,
      .stay-container .np-one-pack {
        display: none !important;
      }
      .stay-container {
        display: none !important;
      }
      .reviews-slide {
        max-width: 267px;
        margin: 12px 0 0 !important;
        padding: 0 !important;
        > img {
          width: 100%;
        }
      }
      #no-icart-open,
      .next_step_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        height: 50px;
        border-radius: 60px;
        background: #0191d7;
        color: #fefefe;
        font-family: 'DINEngschrift LT';
        font-size: 20px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 12px;
        box-shadow: none;
      }
      #no-icart-open {
        display: none;
      }
      .next_step_btn {
        &.active_step_second {
          display: none;
        }
      }
    }
    .body_slide_in_cart {
      padding: 15px 16px;
      margin: 0;
      width: 100%;
      max-width: 100%;
      // box-shadow: 12px 0px 32px 0px rgba(0, 0, 0, 0.08);
      .main_title_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        .main_title {
          color: #212529;
          font-family: 'Roboto', sans-serif;
          font-size: 15px !important;
          font-weight: 700;
          line-height: normal !important;
          text-transform: uppercase;
          letter-spacing: normal;
          margin: 0;
        }
        .change_btn {
          color: #0191d7;
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          font-weight: 700;
          line-height: normal;
          text-decoration-line: underline;
          text-transform: uppercase;
          margin: 0;
          letter-spacing: normal;
        }
      }
      .info_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 52px;
        padding: 8px;
        gap: 8px;
        border-radius: 6px;
        border: 1px solid #eceef0;
        background: #fff;
        .details_wrapper {
          display: flex;
          gap: 8px;
          align-items: center;
          justify-content: flex-start;
          .details_img_wrapper {
            width: 36px;
            height: 36px;
            flex-shrink: 0;
            border-radius: 3px;
            border: 1px solid #eceef0;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .details_quantity_wrapper {
            .details_price_for_pack {
              color: #0c0b0b;
              font-family: 'DINEngschrift LT';
              font-size: 16px !important;
              font-weight: 400;
              line-height: 110% !important;
              letter-spacing: 0.32px;
              text-transform: uppercase;
              margin: 0;
            }
            .details_quantity {
              color: #6f6f6f;
              font-family: 'Roboto', sans-serif;
              font-size: 12px !important;
              font-weight: 400;
              line-height: 130% !important;
              letter-spacing: normal;
              margin: 0;
            }
          }
        }
        .price_wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 4px;
          .new_reg_price {
            color: #6f6f6f;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 130%;
            text-decoration: line-through;
            letter-spacing: normal;
            margin: 0;
          }
          .new_sale_price {
            color: #0c0b0b;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: normal;
            margin: 0;
          }
        }
      }
    }
    .new_subscription {
      padding: 0;
      margin: 12px 0;
      display: none;

      .new_subscription_block {
        .plan_selection {
          gap: 10px;
          label {
            &.subscribe_save_variant {
              width: max-content;
              @media (max-width: 361px) {
                width: calc((100% - 12px) / 2);
              }
            }
          }
        }
        .plan_details {
          padding: 12px;
        }
        .plan_comment {
          gap: 0;
          > svg {
            margin-left: 5px;
          }
          > span {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -10px;
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
        [data-tippy-root] {
          right: 0px !important;
        }
        .tippy-box {
          @media (max-width: 345px) {
            max-width: 310px !important;
          }
        }

        .tippy-box[data-placement^='bottom'] > .tippy-arrow:before,
        .tippy-box[data-placement^='top'] > .tippy-arrow:before {
          left: 0px !important;
        }
        &.is_disabled {
          .is_active_one_pack {
            margin: 12px auto;
            text-align: center;
            gap: 0;
            > svg {
              width: 16px;
              height: 22px;
              flex-shrink: 0;
              margin-left: -14px;
            }
            > span {
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2px;
              svg {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// new_subscription
.new_subscription {
  margin: 34px 0 12px;
  padding: 0;

  .new_subscription_block {
    &.is_disabled {
      .plan_selection {
        label {
          // pointer-events: none;
          color: #d3d3d3;
        }
      }
      .plan_comment {
        display: none;
      }
      .is_active_one_pack {
        position: relative;
        display: flex;
        gap: 4px;
        max-width: 310px;
        color: #0191d7;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: italic;
        font-weight: 600;
        line-height: 22px;
        text-decoration-line: underline;
        letter-spacing: normal;
        margin: 4px 0 12px auto;
        @media (max-width: 345px) {
          font-size: 13px;
        }
        > svg {
          width: 15px;
          height: 20px;
          flex-shrink: 0;
        }
        > span {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }
      }
    }
    .plan_selection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc((100% - 12px) / 2);
        padding: 9.2px 7px;
        margin: 0;
        color: #717171;
        font-family: 'Roboto', sans-serif !important;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 6px;
        border: 2px solid #d3d3d3;
        background: #fff;
        letter-spacing: initial;
        cursor: pointer;
        @media (max-width: 361px) {
          font-size: 13px;
        }
        &.subscribe_save_variant {
          position: relative;
          &::before {
            content: 'Save extra 15%';
            position: absolute;
            top: -19.5px;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 8px 2px 8px;
            border-radius: 4px 4px 0px 0px;
            background: #0191d7;
            color: #fff;
            font-family: 'DINEngschrift LT';
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            z-index: 1;
          }
        }
      }

      input[type='radio'] {
        display: none;
        &:checked + label {
          color: #212529;
          border: 2px solid #0191d7;
          background: #fff;
        }
      }
    }
    .plan_comment {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 6px;
      color: #0191d7;
      font-family: 'Roboto', sans-serif !important;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      line-height: 26px;
      text-decoration-line: underline;
      margin: 4px 0 4px auto;
      letter-spacing: initial;
      @media (max-width: 361px) {
        gap: 8px;
      }
      @media (max-width: 345px) {
        font-size: 12px;
      }
      > svg {
        width: 15px;
        height: 20px;
      }
    }
    [data-tooltip] {
      cursor: pointer;
    }
    [data-tippy-root] {
      right: -20px !important;
      z-index: 10 !important;
      @media (max-width: 345px) {
        right: -3px !important;
      }
    }
    .tippy-box {
      background-color: #fff;
      filter: drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.1));
      max-width: 330px !important;
      border-radius: 15px;
      .tippy-content {
        padding: 16px;
        .tooltip_block {
          p {
            color: #212529;
            font-family: 'Roboto', sans-serif !important;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            margin: 0 0 8px;
            text-transform: initial;
            font-style: normal;
            text-align: left;
          }
          ul {
            padding-left: 20px;
            margin: 0;
            text-align: left;

            li {
              color: #515151;
              list-style: disc;
              font-size: 11px;
              & + li {
                margin-top: 15px;
              }
              p {
                color: #515151;
                font-weight: 400;
                margin: 0;
              }
            }
          }
        }
      }
      &[data-placement^='bottom'] > .tippy-arrow,
      &[data-placement^='top'] > .tippy-arrow {
        display: block;
        color: white;
        &:before {
          left: -20px !important;
          @media (max-width: 345px) {
            left: -3px !important;
          }
        }
      }
    }
    .is_active_one_pack {
      display: none;
    }
    .plan_details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      padding: 12px;
      border-radius: 4px;
      border: 2px solid var(--D3D3D3, #d3d3d3);
      background: #ecf2f1;
      margin: 0;
      list-style: none;
      li {
        position: relative;
        color: #000;
        font-family: 'Roboto', sans-serif !important;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: normal;
        padding-left: 22px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 13.9px;
          height: 13.9px;
          background: url(https://conversionratestore.github.io/projects/buzzpatch/sleepypatch/img/checkmark_done_complete_blue.svg)
            no-repeat center center;
          background-size: inherit;
          border-radius: 50%;
        }
      }
      &.one_time_checked {
        + .custom_dropdown {
          display: none;
        }
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(5) {
          color: #c3c3c3;
          &::before {
            content: '';
            background: url(https://conversionratestore.github.io/projects/buzzpatch/img/stop_icon.svg) no-repeat center
              center;
            background-size: contain;
          }
        }
      }
    }
  }
}

// custom_dropdown
.custom_dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 12px;

  .dropdown_toggle {
    position: relative;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    border: 2px solid #d3d3d3;
    background: #fff;
    padding: 8px 12px;
    cursor: pointer;
    color: #0c0b0b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
    &.disabled {
      pointer-events: none;
      color: #c3c3c3;
      opacity: 0.7;
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url(https://conversionratestore.github.io/projects/buzzpatch/sleepypatch/img/select_form_icon_blue.svg);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &.active {
      &::after {
        transform: rotateX(180deg) translateY(50%);
      }
    }
  }

  .dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid #d3d3d3;
    background-color: #fff;
    z-index: 5;
    margin-top: 1px;
    &.show {
      display: block;
    }
  }
  .text_transform {
    text-transform: lowercase;
  }
  .most_common {
    color: #717171;
  }

  .dropdown_item {
    padding: 5px 10px;
    color: #0c0b0b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    letter-spacing: normal;
    &.selected {
      background: #0191d7;
      color: white;
      .most_common {
        color: white;
      }
    }
    &:hover {
      background: #1f4fc9;
      color: white;
      .most_common {
        color: white;
      }
    }
  }
}

// new_price_wrapper
.new_price_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  .new_reg_price {
    color: #616267;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1.3px;
    text-decoration: line-through;
    text-transform: uppercase;
  }
  .new_sale_price {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .percent_off {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #0191d7;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
  }
}

//new_free_shipping_block
.new_free_shipping_block {
  max-width: calc(100% + 40px) !important;
  margin: 0 0 16px -20px;
  width: calc(100% + 40px);

  img {
    width: 100%;
    max-width: 100% !important;
  }
}
