.new_title_steps_block {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  &.is_hidden {
    display: none;
  }
  & p {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #e0e6e9;
    border-radius: 5px 0 0 5px;
    &:nth-child(2) {
      flex: 1 0 175px;
      border-radius: 0 5px 5px 0;
    }
    & span {
      font-family: 'Noto Sans SC';
      font-size: 16px;
      line-height: 14px;
      color: rgb(43 61 80 / 60%);
      font-weight: 500;
      z-index: 1;
    }
    &.is_active {
      background: #fff;
      & span {
        font-weight: 700;
        color: #2b3d50;
      }
    }
  }
  & svg {
    position: absolute;
    left: -1px;
  }
}
