#clerk1 > div {
  margin: 80px 0 !important;
}

.breadcrumbs {
  width: 95%;
  padding: 14px 0;
  margin: 0 auto;
  max-width: 1320px;
}
.breadcrumbs li a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #003068;
}
.breadcrumbs li:nth-child(1) a {
  color: #7d8fa5;
}
.breadcrumbs + br {
  display: none;
}

.site-footer {
  margin-top: 80px !important;
  padding-bottom: 100px !important;
}

.sticky_block_visible #chat-widget-container,
.sticky_block_visible #smile-ui-container > div {
  bottom: 115px !important;
}

.product-template__container > .product-section {
  width: 95%;
  padding: 0;
  margin: 0 auto;
  max-width: 1320px;
}
.product-template__container > .product-section > div {
  width: calc((100% - 28px) / 2) !important;
}
.product-template__container > .product-section .product-image-section {
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: row-reverse;
}
.product-template__container > .product-section .product-image-section .product-single__thumbnails-slider-track {
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.product-template__container > .product-section .detail_page_padding {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 28px;
}
.product-template__container > .product-section .detail_page_padding > div {
  position: initial;
  width: 100%;
  padding: 0 !important;
}
.product-template__container > .product-section .detail_page_padding .hide-below-large {
  position: initial !important;
  padding: 0 !important;
}
.product-template__container > .product-section .detail_page_padding .hide-below-large .product-page-vendor {
  color: #a0a0a0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 6px;
}
.product-template__container > .product-section .detail_page_padding .hide-below-large .product-single__title {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
}
.product-template__container > .product-section .detail_page_padding .product-page-sku {
  position: initial !important;
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 14px 0 5px;
  padding: 0 !important;
}
.product-template__container > .product-section .detail_page_padding .product-page-sku .variant-sku {
  margin: 0 0 14px;
}
.product-template__container > .product-section .detail_page_padding .product-page-sku > div {
  margin: 0 0 9px;
}
.product-template__container > .product-section .detail_page_padding .product-page-sku > div img {
  display: none;
}
.product-template__container > .product-section .detail_page_padding .product-page-sku > div p {
  position: relative;
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 40px;
}
.product-template__container > .product-section .detail_page_padding .product-page-sku > div p::before {
  position: absolute;
  content: "";
  left: 0;
  top: -5px;
  width: 30px;
  height: 24px;
  background: url("https://conversionratestore.github.io/projects/roofing4us/img/delivery_truck_icon.svg") no-repeat;
  background-size: cover;
}
.product-template__container > .product-section .product_detail_tab {
  display: none !important;
}
.product-template__container > .product-section .product-atc-section .product__price {
  padding: 0;
}
.product-template__container > .product-section .product-atc-section .product__price .price__regular {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.product-template__container > .product-section .product-atc-section .product-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0;
  margin: 10px 0 0;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__item {
  flex-basis: initial;
  padding: 0;
  margin: 0;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__item label {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 5px;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__item select {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__item input {
  min-height: 46px;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__item .cart__qty.quantity-box {
  align-items: center;
  margin-left: 32px;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__item .cart__qty.quantity-box .cart-qtyplus,
.product-template__container > .product-section .product-atc-section .product-form .product-form__item .cart__qty.quantity-box .cart-qtyminus {
  height: 46px;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__controls-group {
  gap: 16px;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__controls-group--submit {
  margin-top: 16px;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__controls-group--submit .product-form__item--submit {
  display: flex;
  gap: 16px 20px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__controls-group--submit .product-form__item--submit .product-form__cart-submit {
  max-width: 313px;
  width: 100%;
  margin: 0;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__controls-group--submit .product-form__item--submit [data-shopify=payment-button] {
  max-width: 313px;
  width: 100%;
  margin: 0;
}
.product-template__container > .product-section .product-atc-section .product-form .product-form__controls-group--submit .product-form__item--submit [data-shopify=payment-button] + div {
  width: 100%;
  margin: 0 !important;
}

.new_container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
}

.anchor_menu {
  padding-top: 18px;
}
.anchor_menu.is_sticky {
  position: sticky;
  top: 0;
  z-index: 111;
  border-bottom: 1px solid #ccc;
  background: #fff;
  box-shadow: 0px -6px 24px 0px rgba(0, 0, 0, 0.08);
  padding: 0;
}
.anchor_menu.is_sticky .anchor_menu_list {
  justify-content: center;
}
.anchor_menu .anchor_menu_list {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
}
.anchor_menu .anchor_menu_list .anchor_menu_item .anchor_menu_link {
  display: flex;
  padding: 12px 21px;
  cursor: pointer;
}
.anchor_menu .anchor_menu_list .anchor_menu_item .anchor_menu_link.is_active {
  background: #d5eeff;
}
.anchor_menu .anchor_menu_list .anchor_menu_item .anchor_menu_link p {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
}

.bought_so_far_block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  gap: 12px;
  padding: 5px 72px 5px 8px;
  border-radius: 2px;
  background: linear-gradient(90deg, rgba(19, 163, 96, 0.12) 45%, rgba(19, 163, 96, 0) 100%);
  margin-bottom: 16px;
}
.bought_so_far_block svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.bought_so_far_block p {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.new_product_sales_points_block {
  margin: 12px 0 28px;
}
.new_product_sales_points_block .new_product_sales_points_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .new_product_sales_points_block .new_product_sales_points_list {
    gap: 8px;
  }
}
.new_product_sales_points_block .new_product_sales_points_list .new_product_sales_points_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin: 0;
}
.new_product_sales_points_block .new_product_sales_points_list .new_product_sales_points_item svg {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.new_product_sales_points_block .new_product_sales_points_list .new_product_sales_points_item p {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}
.one_review_block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 2px;
  margin: 0;
}
.one_review_block .info_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 31px;
  border-radius: 2px;
  background: #d5eeff;
  padding: 20px;
}
.one_review_block .info_wrapper::before {
  position: absolute;
  content: "";
  top: 20px;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid #d5eeff;
}
.one_review_block .info_wrapper .info_descr {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.one_review_block .info_wrapper .name_stars_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.one_review_block .info_wrapper .name_stars_wrapper .name_stars_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px 14px;
  flex-wrap: wrap;
}
.one_review_block .info_wrapper .name_stars_wrapper .name_stars_container .name_review {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
}
.one_review_block .info_wrapper .name_stars_wrapper .name_stars_container .stars_summary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.one_review_block .info_wrapper .name_stars_wrapper .name_stars_container .stars_summary .stars_wrapper {
  display: flex;
  gap: 3px;
}
.one_review_block .info_wrapper .name_stars_wrapper .name_stars_container .stars_summary span {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  margin: 0;
}
.one_review_block .info_wrapper .all_reviews_link {
  color: #003068;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-decoration-line: underline;
  text-align: center;
  margin: 0;
  cursor: pointer;
}
.one_review_block .img_wrapper {
  display: flex;
  flex-shrink: 0;
  max-width: 150px;
  width: 100%;
}
.one_review_block .img_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_details_block {
  margin: 8px 0 24px;
}
.product_details_block .product_details_accordion {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
.product_details_block .product_details_accordion .product_details_accordion_block {
  margin: 0;
  border-bottom: 1px solid hsla(0, 0%, 6%, 0.2);
}
.product_details_block .product_details_accordion .product_details_accordion_block.active {
  border: none;
}
.product_details_block .product_details_accordion .product_details_accordion_block.active span {
  transform: rotate(180deg);
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_link span {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  transition: all 0.5s ease;
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_link p {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists {
  display: none;
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists > div .tabcontent {
  display: block !important;
  border: none;
  padding: 0;
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists > div .tabcontent p,
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists > div .tabcontent a,
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists > div .tabcontent td,
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists > div .tabcontent li {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists > div .tabcontent h4 + ul + p {
  display: none;
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists > div .tabcontent table {
  margin: 0;
}
.product_details_block .product_details_accordion .product_details_accordion_block .product_details_accordion_lists > div .tabcontent .ElementsWidget-prefix .u-textCenter--all {
  margin: 0 auto !important;
}

.reviews_block {
  background: #f7f7f7;
  padding: 80px 0;
  margin-top: 60px;
}
.reviews_block .new_container > h2 {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  text-transform: initial;
  letter-spacing: initial;
  margin: 0 0 60px;
}
.reviews_block .new_container .reviews_list {
  max-width: 780px;
  margin: 0 auto;
}

.faq_block {
  padding: 80px 0;
}
.faq_block .new_container {
  max-width: 810px;
}
.faq_block .new_container > h2 {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 26px;
  text-align: left;
  letter-spacing: initial;
}
.faq_block .new_container .faq_accordion {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
.faq_block .new_container .faq_accordion .faq_accordion_block {
  margin: 0;
  border-bottom: 1px solid #e8e8e1;
}
.faq_block .new_container .faq_accordion .faq_accordion_block.active {
  border: none;
}
.faq_block .new_container .faq_accordion .faq_accordion_block.active span {
  transform: rotate(45deg);
}
.faq_block .new_container .faq_accordion .faq_accordion_block .faq_accordion_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
  cursor: pointer;
}
.faq_block .new_container .faq_accordion .faq_accordion_block .faq_accordion_link span {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  transition: all 0.5s ease;
}
.faq_block .new_container .faq_accordion .faq_accordion_block .faq_accordion_link p {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: normal;
  margin: 0;
}
@media (max-width: 768px) {
  .faq_block .new_container .faq_accordion .faq_accordion_block .faq_accordion_link p {
    max-width: 295px;
  }
}
.faq_block .new_container .faq_accordion .faq_accordion_block .faq_accordion_lists {
  display: none;
  border-top: 1px solid #e8e8e1;
  padding: 26px 0 0;
}
.faq_block .new_container .faq_accordion .faq_accordion_block .faq_accordion_lists > div p {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: normal;
  margin: 0;
}

.comparison_table_block {
  padding: 80px 0 110px;
  background: #003068;
}
.comparison_table_block .new_container {
  max-width: 978px;
}
.comparison_table_block .comparison_table_main_title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 52px;
  margin: 0 0 60px;
  text-align: center;
  text-transform: initial;
  letter-spacing: initial;
}
.comparison_table_block .custom_table {
  display: flex;
  align-items: flex-end;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
}
.comparison_table_block .custom_table .is_active {
  position: relative;
  z-index: 1;
}
.comparison_table_block .custom_table .is_active::before {
  position: absolute;
  content: "";
  right: 0;
  top: -5%;
  height: 110%;
  width: 100%;
  background: #d5eeff;
  z-index: -1;
}
.comparison_table_block .custom_table .table_cell {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88px;
}
.comparison_table_block .custom_table .table_cell h3 {
  color: #101010;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: initial;
  margin: 0;
}
.comparison_table_block .custom_table .table_cell p {
  color: #2b4632;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: initial;
  margin: 0;
  max-width: 300px;
}
.comparison_table_block .custom_table .body_table .table_cell:nth-child(odd) {
  background: #f4f5f8;
}
.comparison_table_block .custom_table .body_table .table_cell:nth-child(even) {
  background: #fff;
}
.comparison_table_block .custom_table .benefits_row {
  width: 100%;
}
.comparison_table_block .custom_table .benefits_row .table_cell {
  justify-content: flex-start;
  padding: 0 10px 0 80px;
}
.comparison_table_block .custom_table .competitors_row,
.comparison_table_block .custom_table .my_row {
  width: 34%;
  max-width: 224px;
}
.comparison_table_block .custom_table .competitors_row .table_cell {
  padding-right: 40px;
}
.comparison_table_block .custom_table .my_row .header_table .table_cell {
  background: #d5eeff;
}
.comparison_table_block .custom_table .my_row .body_table .table_cell:nth-child(even) {
  background: #d5eeff;
}

.sticky_block {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 12px 30px;
  border-top: 1px solid #dae5d9;
  border-right: 1px solid #dae5d9;
  border-left: 1px solid #dae5d9;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  z-index: 1234;
}
.sticky_block .sticky_product_title {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}
.sticky_block .sticky_product_price {
  color: #101010;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}/*# sourceMappingURL=main.css.map */