.new_container {
  width: 90%;
  margin: 0 auto;
}
.new_title_box {
  color: #29353c;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 24px;
}
.main_title {
  color: #29353c;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 24px;
}
.reset_variations {
  display: none !important;
}
.device-details-title {
  padding: 40px 0 16px;
}
.device-details-title h5 {
  color: #757575;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 4px;
}
.device-details-title h1 {
  color: #29353c;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -0.69px;
}
.device-step-header.step-number-3 {
  display: flex;
  justify-content: center;
  gap: 56px;
  border: none;
  margin: 0 0 60px;
  padding: 0;
}
.device-step-header .bread-crumbs {
  color: #29353c;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
}
.device-step-header .progress-dots li {
  margin-top: 0;
  margin-bottom: 0;
}
.device-step-header .progress-dots li::before {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}
.woocommerce #content div.product div.summary .add-to-cart-block {
  padding: 0;
  border: none;
  background: inherit;
  box-shadow: none;
}
.variations-content > .row,
.variations-content > .row > h4,
.variation-description-overview > h4,
.order_benefits,
.support-link,
.order_reviews,
.add-to-cart-block .device-placeholder-price,
.add-to-cart-block .woocommerce-variation-price,
.woocommerce-variation-description-overview .ggv2-quantity,
.variation-description-overview .ggv2-quantity,
.woocommerce-variation.single_variation h4 {
  display: none !important;
}
.summary.entry-summary {
  padding: 0 !important;
}
.variations {
  flex: 1 0 820px !important;
  max-width: 60% !important;
  margin: 0 !important;
}
form.variations_form {
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 55px !important;
}
.variations > .variations-content {
  padding: 40px 48px !important;
  border-radius: 16px !important;
  border: 1px solid #f0f2f4 !important;
  background: #fff !important;
  box-shadow: 0px 8px 16px 0px rgba(41, 53, 60, 0.03) !important;
}
.single_variation_wrap {
  flex: 1 1 36% !important;
  max-width: 36% !important;
  & .ggv2-variation-condition {
    gap: 4px;
  }
  & .single_variation_wrap--inner {
    border-radius: 16px !important;
    border: 1px solid #f0f2f4 !important;
    background: #fff !important;
    box-shadow: 0px 8px 16px 0px rgba(41, 53, 60, 0.03) !important;
    padding: 20px 24px !important;
    margin: 0 0 24px !important;
    align-items: center !important;
    & .woocommerce-product-gallery {
      padding: 0 !important;
      max-width: 99px !important;
      margin-right: 20px !important;
      max-height: 130px;
      & img {
        object-fit: contain;
        max-height: 130px;
      }
    }
    & .variation-description-overview-placeholder {
      padding: 0 !important;
      flex: 1 0 59% !important;
      max-width: 59% !important;
    }
    & .variation-title,
    & .condition-title {
      color: #29353c !important;
      font-size: 16px !important;
      line-height: 24px;
      font-weight: 400;
      margin: 0 !important;
      & b {
        font-weight: 700;
      }
    }
    & .condition-title {
      order: 1;
    }
  }
  & .add-to-cart-block {
    margin: 0 !important;
    & > div {
      width: 100%;
      & .single_add_to_cart_button {
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
        padding: 20px 38px !important;
        width: 100% !important;
        color: #fff !important;
        font-size: 16px !important;
        font-weight: 800 !important;
        line-height: 24px !important;
      }
    }
  }
}
.woocommerce-variation.single_variation {
  padding: 0 !important;
}
.device-placeholder-price h4,
.woocommerce-variation-price h4,
.ggv2-quantity .quantity-title {
  color: #29353c !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  margin: 0 0 16px !important;
}
.woocommerce-variation-price .offer-container {
  margin: 0 !important;
}
.device-placeholder-price .price.price--empty {
  color: #757575;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  max-width: 240px;
}
.woocommerce-variation-price .woocommerce-Price-amount.amount {
  color: #63dd1a !important;
  font-size: 28px !important;
  font-weight: 800 !important;
  line-height: 32px !important;
}
.woocommerce-variation-price .price {
  margin-top: 10px;
}
.ggv2-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ggv2-quantity--disabled .qty-itputbox .qty_button {
  cursor: initial;
}
.qty-itputbox .qty_button {
  height: 100%;
  top: 0;
}
.qty-itputbox {
  border-radius: 6px;
  border: 2px solid #d6d9dc;
}
.qty-itputbox input.input-text.qty {
  height: 48px !important;
  width: 121px !important;
  border: unset;
  color: #29353c;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px !important;
}
.qty-itputbox .qty_button.plus {
  border-left: 1px solid #f0f2f4;
  right: 0;
}
.qty-itputbox .qty_button.minus {
  left: 0;
  border-right: 1px solid #f0f2f4;
}

// footer
footer[role='contentinfo'] {
  padding: 72px 0 40px !important;
}
.menu-seo-menu-container {
  border-bottom: 1px solid #f0f2f4;
  margin: 32px 0;
}
.copyright {
  padding: 0 !important;
  color: #29353c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
footer[role='contentinfo'] #seo-nav {
  margin: 0 0 22px;
}
footer[role='contentinfo'] #seo-nav li:after {
  width: 1px;
  height: 20px;
}
@media (max-width: 1100px) {
  .new_container {
    width: 88%;
  }
  .new_title_box {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .main_title {
    margin: 0 auto 30px;
    max-width: 210px;
  }
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 88% !important;
  }
  .device-details-title {
    padding: 36px 0 24px;
  }
  .device-details-title h5 {
    color: #858d92;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
  }
  .device-details-title h1 {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
  }
  .device-step-header .bread-crumbs {
    font-size: 18px;
    line-height: 30px;
  }
  .device-step-header.step-number-3 {
    gap: 12px;
    margin: 0 0 24px;
    flex-direction: column;
    align-items: center;
  }
  .variations {
    width: 100% !important;
    max-width: 100% !important;
  }
  .single_variation_wrap {
    width: 100% !important;
    max-width: 100% !important;
  }
  .variations > .variations-content {
    padding: 24px 20px !important;
    margin-bottom: 24px !important;
  }
  .single_add_to_cart_button.button {
    position: relative !important;
  }
  // footer
  footer[role='contentinfo'] {
    padding: 24px 0 70px !important;
  }
  .copyright {
    font-size: 14px;
  }
  .menu-seo-menu-container {
    margin: 24px 0;
  }
  footer[role='contentinfo'] #seo-nav {
    margin: 0 0 24px;
  }
  footer[role='contentinfo'] #footer-menu a {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    padding: 8px;
  }
  footer[role='contentinfo'] .nav-container {
    border-radius: 16px;
    background: linear-gradient(0deg, #0092e6 4%, #5600e6 89%), var(--Main-White, #fff);
    padding: 41px 0;
  }
  footer[role='contentinfo'] .footer-svg-mobile svg {
    border-radius: 16px 0 0;
  }
  footer[role='contentinfo'] .socials a svg {
    color: white;
  }
  footer[role='contentinfo'] .footer-svg-mobile {
    top: -1px;
  }
  footer[role='contentinfo'] .footer-svg-mobile svg:not(.bgr_footer) {
    display: none;
  }
  footer[role='contentinfo'] .logo-container .logos {
    display: flex;
    gap: 40px;
  }
  footer[role='contentinfo'] .logo-container {
    margin-bottom: 24px;
  }
  footer[role='contentinfo'] .logo-container .logos .logo-wrapper {
    margin: 0;
    max-height: 36px;
  }
  footer[role='contentinfo'] .logo-container .logos .logo-wrapper img {
    max-height: 36px;
    min-height: 36px;
    object-fit: contain;
  }
  footer[role='contentinfo'] .logo-container .logos .logo-wrapper:nth-child(1) {
    max-width: 95px;
  }
  footer[role='contentinfo'] .logo-container .logos .logo-wrapper:nth-child(2) {
    max-width: 115px;
  }
}
// device_price_wrapper
.device_price_wrapper {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}
.device_price_wrapper .woocommerce-variation-price {
  order: 0;
}
.woocommerce-variation-price.is_hidden,
.ggv2-quantity:not(.ggv2-quantity--disabled).is_hidden,
.device-placeholder-price.is_hidden,
.ggv2-quantity.ggv2-quantity--disabled.is_hidden {
  display: none !important;
}
.device_price_wrapper .ggv2-quantity:not(.ggv2-quantity--disabled) {
  order: 1;
}
// radio_block
.radio_block {
  & + .radio_block {
    margin-top: 24px;
  }
  & h3 {
    color: #29353c;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 12px;
  }
  & .radio_option_wrapp {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    & input.custom_radio {
      z-index: -1;
      opacity: 0;
      height: 0;
      margin: 0;
      padding: 0;
      display: none;
    }
    & label {
      position: relative;
      width: max-content;
      border-radius: 6px;
      border: 2px solid #d6d9dc;
      background: #fff;
      padding: 12.5px 16px;
      margin: 0;
      cursor: pointer;

      & .radio_info {
        gap: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      &[for='choose_opt_condition'],
      &[for='choose_opt_storage'],
      &[for='choose_opt_carrier'],
      &[for='choose_opt_connectivity'],
      &[for='choose_opt_including_original_charger'],
      &[for='choose_opt_memory_ram'],
      &[for='choose_opt_hard_drive'],
      &[for='choose_opt_processor'],
      &[for='choose_opt_graphics_card'],
      &[for='choose_opt_display_resolution'],
      &[for='choose_opt_case_size'],
      &[for='choose_opt_case_type'],
      &[for='choose_opt_how_many_original_controllers'] {
        display: none;
      }
      & .radio_txt_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        & .new_custom_radio {
          display: none;
        }
        & svg {
          max-height: 18px;
          height: 100%;
        }
      }

      & .radio_txt {
        color: #29353c;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
      & .condition_level {
        display: none;
      }
    }
    & label::before {
      content: unset;
    }
    & [type='radio']:checked + label::after {
      content: unset;
    }
    & [type='radio']:checked + label {
      border: 2px solid #63dd1a;
    }
  }
  &.pa_condition {
    & h3 {
      & .txt_choose {
        color: #757575;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 0 0 10px;
        &.is_hidden {
          display: none;
        }
      }
    }
    & label {
      max-width: 110px;
      width: 30%;
      padding: 7px 16px 4px;

      & .condition_level {
        display: flex;
        width: 100%;
        gap: 3px;
        & span {
          &:first-child {
            border-radius: 111px 0px 0px 111px;
          }
          &:last-child {
            border-radius: 0px 111px 111px 0px;
          }

          width: 15%;
          height: 6px;
          background: #5fdf00;
        }
      }
      &[for='flawless'] {
        & .condition_level {
          & span:nth-child(1) {
            background: #d6d9dc;
          }
        }
      }
      &[for='good'] {
        & .condition_level {
          & span {
            background: #ded50e;
          }
          & span:nth-child(1),
          & span:nth-child(2) {
            background: #d6d9dc;
          }
        }
      }
      &[for='average'] {
        & .condition_level {
          & span {
            background: #ded50e;
          }
          & span:nth-child(1),
          & span:nth-child(2),
          & span:nth-child(3) {
            background: #d6d9dc;
          }
        }
      }
      &[for='fair'] {
        & .condition_level {
          & span {
            background: #d6d9dc;
          }

          & span:nth-child(5),
          & span:nth-child(6) {
            background: #df7800;
          }
        }
      }
      &[for='faulty'] {
        & .condition_level {
          & span {
            background: #d6d9dc;
          }

          & span:nth-child(6) {
            background: #df7800;
          }
        }
      }
      //
    }
  }
  @media (max-width: 1100px) {
    & .radio_option_wrapp {
      & label {
        padding: 12.5px 7px;
        min-width: 63px;
        & .radio_info {
          flex-direction: initial;
        }
      }
    }
    &.pa_carrier {
      & .radio_option_wrapp {
        & label {
          width: 48%;
          padding: 12.5px 16px;
          & > .radio_info {
            justify-content: flex-start;
          }
        }
      }
    }
    &.pa_condition {
      & .radio_option_wrapp {
        & label {
          width: 100%;
          max-width: 100%;
          padding: 14px 16px;
          & .radio_txt_box {
            width: 100%;
            justify-content: flex-start;
            & .new_custom_radio {
              position: relative;
              display: inline-block;
              width: 16px;
              height: 16px;
              flex-shrink: 0;
              flex-grow: 0;
              border-radius: 50%;
              border: 2px solid #d6d9dc;
            }
            & .radio_txt {
              line-height: 24px;
            }
          }
          & .condition_level {
            justify-content: flex-end;
            & span {
              max-width: 12px;
              width: 100%;
            }
          }
          & .radio_descr_mob {
            &.is_hidden {
              display: none;
            }
            width: 100%;
            list-style: disc;
            padding-left: 50px;
            margin-top: 12px;
            & li {
              color: #29353c;
              & p {
                color: #29353c;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                margin: 0;
                & span {
                  font-weight: 600;
                }
              }
            }
            & li + li {
              margin-top: 10px;
            }
          }
        }
        & [type='radio']:checked + label .new_custom_radio {
          border: 2px solid #63dd1a;
          &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #63dd1a;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      & h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .txt_choose.is_hidden {
          display: inline-block;
          margin: 0 0 0 auto;
        }
      }
    }
  }
}
// conditionBlock
#conditionBlock {
  border-radius: 6px;
  border: 1px solid #f0f2f4;
  background: #fafbfb;
  padding: 14px 16px;
  margin: 12px 0 0;
  & h5 {
    color: #757575;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: disc;
    padding-left: 25px;
    margin: 8px 0 0;
    & li {
      & p {
        color: #29353c;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        & span {
          font-weight: 600;
        }
      }
    }
  }
  & > div {
    &.is_hidden {
      display: none;
    }
    &.choose_var {
      & ul {
        display: none;
      }
    }
  }
}
// clear_form_block
.clear_form_block {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  cursor: pointer;
  margin: 32px 0 0;

  & span {
    color: #858d92;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    margin: 0;
  }
  @media (max-width: 768px) {
    gap: 6px;
    margin-top: 24px;
    & span {
      font-size: 14px;
    }
    & svg {
      max-width: 10px;
    }
  }
}
// benefitsBlock
#benefitsBlock {
  margin: 24px 0;
  & ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    & li {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      text-align: center;
      & span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
      }
      & p {
        color: #29353c;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin: 0 auto;
        max-width: 120px;
      }
    }
  }
  @media (max-width: 768px) {
    & ul {
      gap: 24px;
      & li {
        & p {
          font-size: 12px;
          line-height: normal;
          max-width: 100%;
        }
      }
    }
  }
}
// reviewsBlock
#reviewsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-top: 1px solid #f0f2f4;
  padding-top: 24px;
  & a {
    max-width: 100px;
    width: 100%;
    & img {
      width: 100%;
      height: 100%;
      min-height: 74px;
      object-fit: cover;
    }
  }
  @media (max-width: 768px) {
    gap: 0;
    padding: 24px 0;
    & a {
      max-height: 66px;
      & img {
        max-height: 66px;
        min-height: 66px;
        object-fit: contain;
      }
    }
  }
}
// howItWorksSection
#howItWorksSection {
  padding: 60px 0;
  & .how_it_works_list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    padding: 40px 48px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid #f0f2f4;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(41, 53, 60, 0.03);
    & li {
      width: 35%;
      text-align: center;
      & span {
        position: relative;
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 100px;
        border: 2px solid #d6d9dc;
        margin: 0 auto 8px;
        padding: 19px 18px;
      }
      & span::after {
        position: absolute;
        top: -5px;
        right: -5px;
        content: '1';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        background: #0092e6;
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
      }
      & h3 {
        color: #29353c;
        font-size: 18px;
        font-weight: 800;
        line-height: 28px;
      }
      & h4,
      p {
        color: #29353c;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
      & p {
        color: #757575;
        font-weight: 400;
        max-width: 387px;
        margin: 12px auto 0;
      }
    }
    & li:nth-child(2) {
      & span::after {
        content: '2';
      }
    }
    & li:nth-child(3) {
      & span::after {
        content: '3';
      }
    }
  }
  @media (max-width: 768px) {
    border-top: 1px solid #f0f2f4;
    padding: 24px 0;
    & .new_container {
      border-radius: 8px;
      border: 1px solid #f0f2f4;
      background: #fff;
      box-shadow: 0px 8px 16px 0px rgba(41, 53, 60, 0.03);
      padding: 20px;
      & .main_title {
        margin-bottom: 24px;
        font-size: 20px;
      }
      & .how_it_works_list {
        flex-direction: column;
        gap: 24px;
        padding: 0;
        box-shadow: none;
        border: unset;
        border-radius: unset;
        & li {
          width: 100%;
          & h4,
          & p {
            font-weight: 800;
            font-size: 14px;
          }
          & p {
            font-weight: 400;
            margin: 8px auto 0;
            max-width: 278px;
          }
        }
      }
    }
  }
}
// frequentlyAskedQuestionSection
#frequentlyAskedQuestionSection {
  & .questions_accordion {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    & li {
      border-bottom: 1px solid #d6d9dc;
      & .questions_accordion_link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        cursor: pointer;
        & svg {
          transition: all 0.5s ease;
        }
        & p {
          color: #29353c;
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          margin: 0;
        }
      }
      & .questions_accordion_lists {
        display: none;
        border-top: 1px solid #d6d9dc;
        padding: 10px 0;
        & > div {
          padding: 14px;
          & p {
            color: #29353c;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin: 0;
          }
        }
      }
    }
    & li.active {
      & svg {
        transform: rotateX(180deg);
      }
    }
  }
  @media (max-width: 768px) {
    & .questions_accordion {
      & li {
        & .questions_accordion_lists {
          padding: 10px 0 14px;
        }
        & .questions_accordion_link {
          & p {
            max-width: 267px;
          }
        }
      }
    }
  }
}
body {
  position: relative;
}
// new_sticky_block
.new_sticky_block {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #f0f2f4;
  background: #fff;
  display: flex;
  gap: 16px;
  z-index: 100;
  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 196px;
    width: 100%;
    height: 48px;
    order: 1;
    border-radius: 36px;
    background: #63dd1a;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    border: none;
    &.disabled {
      background: #858d92;
    }
  }
  & .device-placeholder-price .offer-container {
    display: none;
  }
}
