.new_container {
  width: 90%;
  margin: 0 auto;
}

.new_title_box {
  color: #29353c;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 24px;
}

.main_title {
  color: #29353c;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 24px;
}

.reset_variations {
  display: none !important;
}

.device-details-title {
  padding: 40px 0 16px;
}

.device-details-title h5 {
  color: #757575;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 4px;
}

.device-details-title h1 {
  color: #29353c;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -0.69px;
}

.device-step-header.step-number-3 {
  display: flex;
  justify-content: center;
  gap: 56px;
  border: none;
  margin: 0 0 60px;
  padding: 0;
}

.device-step-header .bread-crumbs {
  color: #29353c;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
}

.device-step-header .progress-dots li {
  margin-top: 0;
  margin-bottom: 0;
}

.device-step-header .progress-dots li::before {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}

.woocommerce #content div.product div.summary .add-to-cart-block {
  padding: 0;
  border: none;
  background: inherit;
  box-shadow: none;
}

.variations-content > .row > h4,
.variation-description-overview > h4,
.order_benefits,
.support-link,
.order_reviews {
  display: none;
}

footer[role=contentinfo] {
  padding: 72px 0 40px !important;
}

.menu-seo-menu-container {
  border-bottom: 1px solid #f0f2f4;
  margin: 32px 0;
}

.copyright {
  padding: 0 !important;
  color: #29353c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

footer[role=contentinfo] #seo-nav {
  margin: 0 0 22px;
}

footer[role=contentinfo] #seo-nav li:after {
  width: 1px;
  height: 20px;
}

.device_price_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.variations-content > .row {
  display: none;
}

.radio_option_wrapp {
  display: flex;
  gap: 12px;
}
.radio_option_wrapp input.custom_radio {
  z-index: -1;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  display: none;
}
.radio_option_wrapp label {
  position: relative;
  width: 100%;
  border-radius: 6px;
  border: 2px solid #d6d9dc;
  background: #fff;
  padding: 14px 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
}
.radio_option_wrapp label[for=choose_opt_condition], .radio_option_wrapp label[for=choose_opt_storage], .radio_option_wrapp label[for=choose_opt_carrier], .radio_option_wrapp label[for=choose_opt_connectivity], .radio_option_wrapp label[for=choose_opt_including_original_charger], .radio_option_wrapp label[for=choose_opt_memory_ram], .radio_option_wrapp label[for=choose_opt_hard_drive], .radio_option_wrapp label[for=choose_opt_processor], .radio_option_wrapp label[for=choose_opt_graphics_card], .radio_option_wrapp label[for=choose_opt_display_resolution], .radio_option_wrapp label[for=choose_opt_case_size], .radio_option_wrapp label[for=choose_opt_case_type], .radio_option_wrapp label[for=choose_opt_how_many_original_controllers] {
  display: none;
}
.radio_option_wrapp label .radio_txt {
  color: #29353c;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.radio_option_wrapp label::before {
  content: unset;
}

#conditionBlock {
  border-radius: 6px;
  border: 1px solid #f0f2f4;
  background: #fafbfb;
  padding: 14px 16px;
  margin: 12px 0 0;
}
#conditionBlock h5 {
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
#conditionBlock ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: disc;
  padding-left: 25px;
  margin: 8px 0 0;
}
#conditionBlock ul li p {
  color: #29353c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
#conditionBlock ul li p span {
  font-weight: 600;
}
#conditionBlock > div.is_hidden {
  display: none;
}
#conditionBlock > div.choose_var ul {
  display: none;
}

.clear_form_block {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  margin: 32px 0 0;
}
.clear_form_block span {
  color: #858d92;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  margin: 0;
}

#benefitsBlock {
  margin: 24px 0;
}
#benefitsBlock ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
#benefitsBlock ul li {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}
#benefitsBlock ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
#benefitsBlock ul li p {
  color: #29353c;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 auto;
  max-width: 120px;
}

#reviewsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-top: 1px solid #f0f2f4;
  padding-top: 24px;
}
#reviewsBlock a {
  max-width: 100px;
  width: 100%;
}
#reviewsBlock a img {
  width: 100%;
  height: 100%;
  min-height: 74px;
  -o-object-fit: cover;
     object-fit: cover;
}

#howItWorksSection {
  margin: 60px 0;
}
#howItWorksSection .how_it_works_list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  padding: 40px 48px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid #f0f2f4;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(41, 53, 60, 0.03);
}
#howItWorksSection .how_it_works_list li {
  width: 35%;
  text-align: center;
}
#howItWorksSection .how_it_works_list li span {
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 100px;
  border: 2px solid #d6d9dc;
  margin: 0 auto 8px;
  padding: 19px 18px;
}
#howItWorksSection .how_it_works_list li span::after {
  position: absolute;
  top: -5px;
  right: -5px;
  content: "1";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #0092e6;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
}
#howItWorksSection .how_it_works_list li h3 {
  color: #29353c;
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
}
#howItWorksSection .how_it_works_list li h4,
#howItWorksSection .how_it_works_list li p {
  color: #29353c;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
#howItWorksSection .how_it_works_list li p {
  color: #757575;
  font-weight: 400;
  max-width: 387px;
  margin: 12px auto 0;
}
#howItWorksSection .how_it_works_list li:nth-child(2) span::after {
  content: "2";
}
#howItWorksSection .how_it_works_list li:nth-child(3) span::after {
  content: "3";
}

#frequentlyAskedQuestionSection .questions_accordion {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
#frequentlyAskedQuestionSection .questions_accordion li {
  border-bottom: 1px solid #d6d9dc;
}
#frequentlyAskedQuestionSection .questions_accordion li .questions_accordion_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  cursor: pointer;
}
#frequentlyAskedQuestionSection .questions_accordion li .questions_accordion_link svg {
  transition: all 0.5s ease;
}
#frequentlyAskedQuestionSection .questions_accordion li .questions_accordion_link p {
  color: #29353c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}
#frequentlyAskedQuestionSection .questions_accordion li .questions_accordion_lists {
  display: none;
  border-top: 1px solid #d6d9dc;
  padding: 10px 0;
}
#frequentlyAskedQuestionSection .questions_accordion li .questions_accordion_lists > div {
  padding: 14px;
}
#frequentlyAskedQuestionSection .questions_accordion li .questions_accordion_lists > div p {
  color: #29353c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
#frequentlyAskedQuestionSection .questions_accordion li.active svg {
  transform: rotateX(180deg);
}/*# sourceMappingURL=main.css.map */