#getNow {
  position: relative;
  padding: 0 16px !important;
  & > h2 {
    text-align: left;
    color: #212529;
    font-family: 'DINEngschrift LT';
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }
  & > h2 + p {
    text-align: left;
    color: #212529;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    margin: 8px 0 31px;
  }
  & p > br {
    display: none;
  }
  & .sub.js-desktop + img {
    position: absolute;
    top: -10px;
    right: 13px;
    max-width: 135px;
  }
  & .js-packs:nth-child(1) {
    & input[type='radio'] + label {
      border-top-left-radius: 0;
    }
  }
  & input[type='radio'] + label {
    font-family: 'DIN Condensed';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 8.4px 20px;
    & .gift_icon {
      position: absolute;
      right: 6px;
      top: 6px;
    }
    & span {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
  }
  & .gift_box_wrapper {
    padding: 0 14px;
  }
  & .form {
    padding: 0 14px;
  }
  & .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px 16px;
    margin: 0 !important;
    & .js-packs {
      max-width: calc(100% / 2 - 8px);
      margin: 0;
    }
  }
  & .new-bundle-pack {
    max-width: 100%;
    margin: auto;
    padding: 14px 0 12px;
    & h3 {
      color: #212529;
      font-family: 'DIN Condensed';
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin: 0;
    }
    & .bundle-off {
      color: #fff;
      font-family: 'DIN Condensed';
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding: 3px 10px;
      border-radius: 2px 2px 0px 0px;
      background: #000;
      margin-top: -24px;
    }
  }
  & .new-bundle-pack {
    & input[type='radio'] + label {
      padding: 6px 8px 3px 11px;
      & .gift_icon {
        right: 8px;
        top: 8px;
      }
      & span {
        font-weight: 400;
        margin-top: 4px;
        display: inline-block;
        &.pack-title {
          font-weight: 700;
          line-height: 22px;
          margin: 0;
        }
      }
    }
    & img {
      background: inherit !important;
      padding: 0 !important;
      width: 78px;
      margin-right: 21px !important;
    }
    & .btn-tooltip {
      right: 8px;
      bottom: 8px;
      width: 20px;
    }
  }
  & .prices .js-total {
    color: #181717;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 4px;
  }
  & .prices .js-regular {
    margin-bottom: 12px;
  }
  & #addToCart {
    padding: 20px 10px;
  }
  & .days {
    margin-top: 0 !important;
    margin-bottom: 23px !important;
  }
}
//
#nudge-ui-container {
  display: none !important;
}
// gift_icon
.js-packs input[type='radio']:checked + label .gift_icon path,
.new-bundle-pack .js-packs input[type='radio']:checked + label .pack-label .gift_icon path {
  fill: white;
}

// new_popup
.new_popup_backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000000000;
  transition: all 0.5s ease 0s;
  overflow: auto;
  &.is_hidden {
    opacity: 0;
    pointer-events: none;
    & .new_popup {
      transform: translateY(100%);
    }
  }
  .new_popup {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    border-radius: 30px 30px 0px 0px;
    background: #fff;
    transform: translateY(0);
    box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.26);
    overflow: hidden;
  }
  .new_popup_header {
    position: relative;
    @keyframes fill {
      0% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(1);
      }
    }

    .progress_bar {
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      height: 4px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      will-change: transform;
    }
    .progress_bar_fill {
      background: #1e4fd1;
      animation: fill 4s ease;
    }
    h2 {
      padding: 24px 24px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin: 0;
      text-transform: initial;
      p {
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 16px !important;
        font-weight: 700;
        line-height: 21px !important;
        margin: 0;
        letter-spacing: initial;
        span {
          color: #ff3c81;
        }
      }
    }
  }
  .new_popup_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-top: 2px dashed rgba(0, 0, 0, 0.1);
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    padding: 6px 24px 15px 15px;
    @media (max-width: 376px) {
      padding: 8px 15px 17px;
    }
    .img_wrapper {
      max-width: 155px;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        max-height: 148px;
        object-fit: contain;
      }
      p {
        color: #1e4fd1;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 12px !important;
        font-weight: 700;
        line-height: 21px !important;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 9px 0 0;
      }
    }
    .info_wrapper {
      p {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #1e4fd1;
        margin: 0;
        &:nth-child(1) {
          font-size: 36px !important;
          line-height: 24px !important;
          letter-spacing: -2px;
          span:nth-child(1) {
            color: #ff3c81;
            line-height: 32px !important;
            margin-right: 8px;
          }
          .sticker_price {
            text-decoration-line: line-through;
          }
        }
        &:nth-child(2) {
          font-size: 30px !important;
          line-height: 32px !important;
          letter-spacing: -0.8px;
        }
        &:nth-child(3) {
          font-size: 14px !important;
          line-height: 21px !important;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        & + p {
          margin-top: 4px;
        }
      }
    }
  }
  .new_popup_footer {
    padding: 16px 24px 24px;
    .new_checkout_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 100%;
      height: 44px;
      color: #fff;
      font-family: 'DIN Condensed';
      font-size: 20px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2.6px;
      text-transform: uppercase;
      border-radius: 25px;
      background: #ff3c81;
      cursor: pointer;
    }
  }
}
