.rtx-subscription-label__wrapper,
.product-form__submit img,
.product-form__submit span {
  display: none !important;
}

body {
  &.new_subscription_block_visible .price__container {
    margin: 0 !important;
    display: none !important;
  }
  .product {
    justify-content: space-between;
  }
  .product--medium:not(.product--no-media) .product__media-wrapper {
    max-width: 660px;
  }
  #pdpGetNow {
    padding: 0;
    max-width: 490px;
  }
  .icartShopifyCartContent > section:nth-child(1) {
    padding-top: 20px;
    @media (max-width: 768px) {
      padding-top: 0;
    }
    > section {
      max-width: 1300px;
      margin: 0 auto;
      padding: 20px 20px 55px;
      @media (max-width: 768px) {
        padding: 0 15px 55px;
      }
    }
  }
  .product__info-container {
    .product__title {
      margin-bottom: 15px;
      @media (max-width: 768px) {
        margin-bottom: 12px;
      }
      h1 {
        line-height: 43.2px;
        margin-bottom: 0;
        @media (max-width: 768px) {
          font-size: 22px;
          line-height: 30px;
          letter-spacing: 2px;
          max-width: 340px;
          margin-bottom: 0;
        }
      }
    }
    div[role='status'] {
      display: flex;
      flex-direction: column-reverse;
      gap: 15px;
    }
    .jdgm-prev-badge__text {
      color: #515151;
      font-family: 'SF Pro Text';
      font-size: 17px;
      font-weight: 400;
      line-height: 23.8px;
      letter-spacing: 0.6px;
    }
    .product-form__input {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
      gap: 15px;
      @media (max-width: 768px) {
        gap: 10px;
      }
    }
    .product-form__input input[type='radio'] + label {
      color: #212529;
      text-align: center;
      font-family: 'DINEngschrift LT';
      font-size: 16px !important;
      font-weight: 400;
      line-height: 16px !important;
      letter-spacing: 1px;
      text-transform: uppercase;
      max-width: 48.4%;
      width: 100%;
      padding: 13.4px !important;
      margin: 0;
      @media (max-width: 1080px) {
        max-width: 48.3%;
      }
      @media (max-width: 1022px) {
        max-width: 48.2%;
      }
      @media (max-width: 875px) {
        max-width: 48%;
      }
      @media (max-width: 768px) {
        line-height: 22px !important;
        padding: 7.4px !important;
        max-width: 48.6%;
      }
      @media (max-width: 376px) {
        max-width: 48.5%;
      }
      @media (max-width: 361px) {
        max-width: 48.4%;
      }
    }
    label .best-seller {
      left: -1px;
      color: #fff;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media (max-width: 768px) {
        left: -1.5px;
      }
    }
    .each_pack_subscribe {
      display: block;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      text-decoration-line: underline;
      text-transform: capitalize;
      margin-top: 4px;
      font-family: 'Roboto', sans-serif;
      & + .each-pack {
        display: none;
      }
      @media (max-width: 768px) {
        margin-top: 0;
        line-height: 20px;
      }
    }

    .each-pack {
      margin-top: 4px;
      @media (max-width: 768px) {
        margin-top: 0;
        line-height: 20px;
      }
    }
    .product-form {
      margin: 0;
      .product-form__buttons {
        max-width: 100%;
        .product-form__submit.subscription-v2-submit-btn {
          width: 100%;
          max-width: 100%;
          min-height: 50px;
          margin: 0;
          border-radius: 40px;
          background: #ff3c81;
          color: #fff;
          text-align: center;
          font-family: 'DINEngschrift LT' !important;
          font-size: 20px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }
    .new_price_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .new_sale_price {
      color: #000;
      font-family: 'Roboto', sans-serif !important;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    .new_reg_price {
      color: #616267;
      font-family: 'Roboto', sans-serif !important;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 1.3px;
      text-decoration: line-through;
      text-transform: uppercase;
      margin: 0;
    }
    .percent_off {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;
      color: #000;
      font-family: 'Roboto', sans-serif !important;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      svg {
        margin-top: 2px;
      }
    }
    .price--large {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 15px;
      @media (max-width: 768px) {
      }
    }

    .price .price-item {
      font-family: 'Roboto', sans-serif !important;
      font-size: 24px !important;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.5px;
      text-decoration: unset;
      color: #000;
      margin: 0;
      text-transform: uppercase;
    }
    .price--on-sale .price__badge-sale {
      font-family: 'Roboto', sans-serif !important;
      font-size: 24px !important;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.5px;
      text-decoration: unset;
      color: #000;
      padding: 0 0 0 24px !important;
      margin: 0 !important;
      text-transform: uppercase;
      display: none !important;
    }
    .price__badge-sale svg {
      left: -3px !important;
      top: 50% !important;
      transform: translateY(-50%);
    }
    .pdp-fsa-logo {
      margin-top: 15px;
    }
    .np-one-pack {
      max-width: 100% !important;
    }
    .price__container {
      @media (max-width: 768px) {
        margin: 0;
      }
    }
    .cPrice {
      padding: 0;
      color: #515151;
      text-align: center;
      font-family: 'Roboto', sans-serif !important;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      display: none !important;
      @media (max-width: 768px) {
        line-height: 20px;
      }
    }
  }
  .social-proof {
    @media (max-width: 768px) {
      margin-bottom: 12px;
    }
    .proof {
      color: #000;
      font-family: 'SF Pro Text';
      font-size: 11px;
      font-weight: 400;
      line-height: 11px;
      letter-spacing: 0.6px;
      border-radius: 10px;
      border: 1px solid #c3c3c3;
      background: #f1f1f1;
      padding: 3.2px 6px;
    }
  }
  .chemical-free {
    > .container {
      max-width: 100% !important;
      padding: 0 35px;
    }
    .js-title {
      color: #0c0b0b !important;
      font-family: 'DINEngschrift LT' !important;
      font-size: 67px;
      font-weight: 400;
      line-height: 60.97px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0 0 20px 10px;
    }
    .text-subhead {
      color: #515151;
      font-family: 'SF Pro Text';
      font-size: 27px;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.6px;
    }
    .text-violet {
      h5 {
        color: #244899;
        font-family: 'Inter', sans-serif;
        font-size: 26.953px;
        font-weight: 700;
        line-height: 36px;
      }
      p {
        color: #244899;
        font-family: 'SF Pro Text';
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.6px;
        margin: 0;
      }
    }
  }
  .sleep-heading {
    max-width: 100% !important;
    padding: 0 35px;
  }
}

.new_subscription_block {
  border-radius: 6px;
  background: #f1f3f4;
  padding: 33px 15px 15px;
  margin: 5px 0 15px;
  .plan_selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 12px 17px;
      margin: 0;
      color: #717171;
      font-family: 'Roboto', sans-serif !important;
      font-size: 15px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      border-radius: 6px;
      border: 2px solid #d3d3d3;
      background: #fff;
      cursor: pointer;
      &.subscribe_save_variant {
        position: relative;
        &::before {
          content: 'Save extra 15%';
          position: absolute;
          top: -19px;
          left: 50%;
          transform: translateX(-50%);
          width: max-content;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 8px 2px 8px;
          border-radius: 4px 4px 0px 0px;
          background: #1f4fc9;
          color: #fff;
          font-family: 'DINEngschrift LT';
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          z-index: 1;
        }
      }
    }

    input[type='radio'] {
      display: none;
      &:checked + label {
        color: #212529;
        border: 2px solid #1f4fc9;
        background: #fff;
      }
    }
  }
  .plan_comment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #1f4fc9;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 26px;
    text-decoration-line: underline;
    margin: 10px auto;
    [data-tooltip] {
      cursor: pointer;
    }
    [data-tippy-root] {
      right: -20px !important;
    }
    .tippy-box {
      background-color: #fff;
      filter: drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.1));
      max-width: 330px !important;
      border-radius: 15px;
      .tippy-content {
        padding: 16px;
        .tooltip_block {
          p {
            color: #212529;
            font-family: 'Roboto', sans-serif !important;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            margin: 0 0 8px;
            text-transform: initial;
            font-style: normal;
          }
          ul {
            padding-left: 20px;
            margin: 0;

            li {
              color: #515151;
              list-style: disc;
              font-size: 11px;
              & + li {
                margin-top: 15px;
              }
              p {
                color: #515151;
                font-weight: 400;
                margin: 0;
              }
            }
          }
        }
      }
      &[data-placement^='bottom'] > .tippy-arrow,
      &[data-placement^='top'] > .tippy-arrow {
        display: block;
        color: white;
        &:before {
          left: -20px !important;
        }
      }
    }
  }
  .plan_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    border-radius: 6px;
    background: #fff;
    padding: 15px 5px 15px 15px;
    margin: 0;
    list-style: none;
    li {
      position: relative;
      width: 48%;
      color: #000;
      font-family: 'Roboto', sans-serif !important;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: normal;
      padding-left: 22px;
      @media (min-width: 1230px) {
        &:last-child {
          margin-top: -16px;
        }
      }
      @media (max-width: 1230px) {
        width: 46%;
      }
      &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 13.9px;
        height: 13.9px;
        background: url(https://conversionratestore.github.io/projects/buzzpatch/img/checkmark_done_complete.svg)
          no-repeat center center;
        background-size: contain;
      }
    }
    &.one_time_checked {
      li:nth-child(2),
      li:nth-child(4),
      li:nth-child(5) {
        color: #c3c3c3;
        &::before {
          content: '';
          background: url(https://conversionratestore.github.io/projects/buzzpatch/img/stop_icon.svg) no-repeat center
            center;
          background-size: contain;
        }
      }
    }
  }
}

.new_subscription_block + .rtx-subscription-dropdown {
  width: 100%;
  color: #0c0b0b;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  border-radius: 4px;
  border: 2px solid #d3d3d3;
  background: #fff;
  outline: none;
  box-shadow: none;
  padding: 8px 12px;
  background-image: url(//www.natpat.com/cdn/shop/files/select-form-icon.svg?v=374583230437431762);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 8px) center;
  -webkit-appearance: none;
  &:disabled {
    color: #c3c3c3;
  }
  &:focus-visible {
    outline-offset: 0 !important;
    outline: none !important;
  }
  option {
    background: #fff;
    padding: 8px 16px;
    &:selected {
      background-color: blue;
      color: white;
    }
    &:hover {
      background-color: lightblue;
    }
  }
}

@media (max-width: 768px) {
  .sticky_block_visible {
    #provesrc-widget-area {
      #provesrc-notification-container {
        bottom: 150px !important;
        @media (max-width: 769px) {
          bottom: 100px !important;
        }
      }
    }
  }

  .sticky_block {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 0 15px 24px;
    z-index: 1111;
    .choose_your_product_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      border-radius: 40px;
      background: #ff3c81;
      color: #fff;
      font-family: 'DINEngschrift LT';
      font-size: 20px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  #newSubscriptionBlock {
    margin: 0 -15px;
    background: #f1f3f4;
    padding: 33px 15px 15px;
    .new_subscription_block {
      border-radius: 0;
      background: inherit;
      padding: 0;
      margin: 0 0 15px;
      .plan_selection {
        gap: 10px;
        label {
          padding: 11.2px 7px;
          &.subscribe_save_variant {
            &::before {
              padding: 4px 8px 2px 8px;
            }
          }
        }
      }
      .plan_comment {
        margin: 6px 0;
        @media (max-width: 376px) {
          [data-tippy-root] {
            right: -10px !important;
          }
          .tippy-box {
            &[data-placement^='bottom'] > .tippy-arrow,
            &[data-placement^='top'] > .tippy-arrow {
              &:before {
                left: -10px !important;
              }
            }
          }
        }
      }
      .plan_details {
        flex-direction: column;
        padding: 12px 17px;
        gap: 12px;
        li {
          width: 100%;
          line-height: 18px;
          &::before {
            top: 50%;
            transform: translateY(-50%);
            width: 13.9px;
            height: 13.9px;
          }
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 4;
          }
          &:nth-child(3) {
            order: 2;
          }
          &:nth-child(4) {
            order: 5;
          }
          &:nth-child(5) {
            order: 3;
          }
        }
      }
    }
  }
}

//
.custom_dropdown {
  position: relative;
  display: inline-block;
  width: 100%;

  .dropdown_toggle {
    position: relative;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    border: 2px solid #d3d3d3;
    background: #fff;
    padding: 8px 12px;
    cursor: pointer;
    color: #0c0b0b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    &.disabled {
      pointer-events: none;
      color: #c3c3c3;
      opacity: 0.7;
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url(//www.natpat.com/cdn/shop/files/select-form-icon.svg?v=374583230437431762);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &.active {
      &::after {
        transform: rotateX(180deg) translateY(50%);
      }
    }
  }

  .dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid #d3d3d3;
    background-color: #fff;
    z-index: 5;
    margin-top: 1px;
    &.show {
      display: block;
    }
  }
  .text_transform {
    text-transform: lowercase;
  }
  .most_common {
    color: #717171;
  }

  .dropdown_item {
    padding: 5px 10px;
    color: #0c0b0b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    &.selected {
      background: #1f4fc9;
      color: white;
      .most_common {
        color: white;
      }
    }
    &:hover {
      background: #1f4fc9;
      color: white;
      .most_common {
        color: white;
      }
    }
  }
}
