.rtx-subscription-label__wrapper,
.product-form__submit img,
.product-form__submit span {
  display: none !important;
}

body.new_subscription_block_visible .price__container {
  margin: 0 !important;
  display: none !important;
}
body .product {
  justify-content: space-between;
}
body .product--medium:not(.product--no-media) .product__media-wrapper {
  max-width: 660px;
}
body #pdpGetNow {
  padding: 0;
  max-width: 490px;
}
body .icartShopifyCartContent > section:nth-child(1) {
  padding-top: 20px;
}
@media (max-width: 768px) {
  body .icartShopifyCartContent > section:nth-child(1) {
    padding-top: 0;
  }
}
body .icartShopifyCartContent > section:nth-child(1) > section {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 20px 55px;
}
@media (max-width: 768px) {
  body .icartShopifyCartContent > section:nth-child(1) > section {
    padding: 0 15px 55px;
  }
}
body .product__info-container .product__title {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  body .product__info-container .product__title {
    margin-bottom: 12px;
  }
}
body .product__info-container .product__title h1 {
  line-height: 43.2px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  body .product__info-container .product__title h1 {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 2px;
    max-width: 340px;
    margin-bottom: 0;
  }
}
body .product__info-container div[role=status] {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}
body .product__info-container .jdgm-prev-badge__text {
  color: #515151;
  font-family: "SF Pro Text";
  font-size: 17px;
  font-weight: 400;
  line-height: 23.8px;
  letter-spacing: 0.6px;
}
body .product__info-container .product-form__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  gap: 15px;
}
@media (max-width: 768px) {
  body .product__info-container .product-form__input {
    gap: 10px;
  }
}
body .product__info-container .product-form__input input[type=radio] + label {
  color: #212529;
  text-align: center;
  font-family: "DINEngschrift LT";
  font-size: 16px !important;
  font-weight: 400;
  line-height: 16px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 48.4%;
  width: 100%;
  padding: 13.4px !important;
  margin: 0;
}
@media (max-width: 1080px) {
  body .product__info-container .product-form__input input[type=radio] + label {
    max-width: 48.3%;
  }
}
@media (max-width: 1022px) {
  body .product__info-container .product-form__input input[type=radio] + label {
    max-width: 48.2%;
  }
}
@media (max-width: 875px) {
  body .product__info-container .product-form__input input[type=radio] + label {
    max-width: 48%;
  }
}
@media (max-width: 768px) {
  body .product__info-container .product-form__input input[type=radio] + label {
    line-height: 22px !important;
    padding: 7.4px !important;
    max-width: 48.6%;
  }
}
@media (max-width: 376px) {
  body .product__info-container .product-form__input input[type=radio] + label {
    max-width: 48.5%;
  }
}
@media (max-width: 361px) {
  body .product__info-container .product-form__input input[type=radio] + label {
    max-width: 48.4%;
  }
}
body .product__info-container label .best-seller {
  left: -1px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  body .product__info-container label .best-seller {
    left: -1.5px;
  }
}
body .product__info-container .each_pack_subscribe {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-decoration-line: underline;
  text-transform: capitalize;
  margin-top: 4px;
  font-family: "Roboto", sans-serif;
}
body .product__info-container .each_pack_subscribe + .each-pack {
  display: none;
}
@media (max-width: 768px) {
  body .product__info-container .each_pack_subscribe {
    margin-top: 0;
    line-height: 20px;
  }
}
body .product__info-container .each-pack {
  margin-top: 4px;
}
@media (max-width: 768px) {
  body .product__info-container .each-pack {
    margin-top: 0;
    line-height: 20px;
  }
}
body .product__info-container .product-form {
  margin: 0;
}
body .product__info-container .product-form .product-form__buttons {
  max-width: 100%;
}
body .product__info-container .product-form .product-form__buttons .product-form__submit.subscription-v2-submit-btn {
  width: 100%;
  max-width: 100%;
  min-height: 50px;
  margin: 0;
  border-radius: 40px;
  background: #ff3c81;
  color: #fff;
  text-align: center;
  font-family: "DINEngschrift LT" !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
body .product__info-container .new_price_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .product__info-container .new_sale_price {
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
body .product__info-container .new_reg_price {
  color: #616267;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.3px;
  text-decoration: line-through;
  text-transform: uppercase;
  margin: 0;
}
body .product__info-container .percent_off {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
body .product__info-container .percent_off svg {
  margin-top: 2px;
}
body .product__info-container .price--large {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}
body .product__info-container .price .price-item {
  font-family: "Roboto", sans-serif !important;
  font-size: 24px !important;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-decoration: unset;
  color: #000;
  margin: 0;
  text-transform: uppercase;
}
body .product__info-container .price--on-sale .price__badge-sale {
  font-family: "Roboto", sans-serif !important;
  font-size: 24px !important;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-decoration: unset;
  color: #000;
  padding: 0 0 0 24px !important;
  margin: 0 !important;
  text-transform: uppercase;
  display: none !important;
}
body .product__info-container .price__badge-sale svg {
  left: -3px !important;
  top: 50% !important;
  transform: translateY(-50%);
}
body .product__info-container .pdp-fsa-logo {
  margin-top: 15px;
}
body .product__info-container .np-one-pack {
  max-width: 100% !important;
}
@media (max-width: 768px) {
  body .product__info-container .price__container {
    margin: 0;
  }
}
body .product__info-container .cPrice {
  padding: 0;
  color: #515151;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: none !important;
}
@media (max-width: 768px) {
  body .product__info-container .cPrice {
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  body .social-proof {
    margin-bottom: 12px;
  }
}
body .social-proof .proof {
  color: #000;
  font-family: "SF Pro Text";
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0.6px;
  border-radius: 10px;
  border: 1px solid #c3c3c3;
  background: #f1f1f1;
  padding: 3.2px 6px;
}
body .chemical-free > .container {
  max-width: 100% !important;
  padding: 0 35px;
}
body .chemical-free .js-title {
  color: #0c0b0b !important;
  font-family: "DINEngschrift LT" !important;
  font-size: 67px;
  font-weight: 400;
  line-height: 60.97px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 20px 10px;
}
body .chemical-free .text-subhead {
  color: #515151;
  font-family: "SF Pro Text";
  font-size: 27px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.6px;
}
body .chemical-free .text-violet h5 {
  color: #244899;
  font-family: "Inter", sans-serif;
  font-size: 26.953px;
  font-weight: 700;
  line-height: 36px;
}
body .chemical-free .text-violet p {
  color: #244899;
  font-family: "SF Pro Text";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.6px;
  margin: 0;
}
body .sleep-heading {
  max-width: 100% !important;
  padding: 0 35px;
}

.new_subscription_block {
  border-radius: 6px;
  background: #f1f3f4;
  padding: 33px 15px 15px;
  margin: 5px 0 15px;
}
.new_subscription_block .plan_selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.new_subscription_block .plan_selection label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 12px 17px;
  margin: 0;
  color: #717171;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 6px;
  border: 2px solid #d3d3d3;
  background: #fff;
  cursor: pointer;
}
.new_subscription_block .plan_selection label.subscribe_save_variant {
  position: relative;
}
.new_subscription_block .plan_selection label.subscribe_save_variant::before {
  content: "Save extra 15%";
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 2px 8px;
  border-radius: 4px 4px 0px 0px;
  background: #1f4fc9;
  color: #fff;
  font-family: "DINEngschrift LT";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 1;
}
.new_subscription_block .plan_selection input[type=radio] {
  display: none;
}
.new_subscription_block .plan_selection input[type=radio]:checked + label {
  color: #212529;
  border: 2px solid #1f4fc9;
  background: #fff;
}
.new_subscription_block .plan_comment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #1f4fc9;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 26px;
  text-decoration-line: underline;
  margin: 10px auto;
}
.new_subscription_block .plan_comment [data-tooltip] {
  cursor: pointer;
}
.new_subscription_block .plan_comment [data-tippy-root] {
  right: -20px !important;
}
.new_subscription_block .plan_comment .tippy-box {
  background-color: #fff;
  filter: drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.1));
  max-width: 330px !important;
  border-radius: 15px;
}
.new_subscription_block .plan_comment .tippy-box .tippy-content {
  padding: 16px;
}
.new_subscription_block .plan_comment .tippy-box .tippy-content .tooltip_block p {
  color: #212529;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 8px;
  text-transform: initial;
  font-style: normal;
}
.new_subscription_block .plan_comment .tippy-box .tippy-content .tooltip_block ul {
  padding-left: 20px;
  margin: 0;
}
.new_subscription_block .plan_comment .tippy-box .tippy-content .tooltip_block ul li {
  color: #515151;
  list-style: disc;
  font-size: 11px;
}
.new_subscription_block .plan_comment .tippy-box .tippy-content .tooltip_block ul li + li {
  margin-top: 15px;
}
.new_subscription_block .plan_comment .tippy-box .tippy-content .tooltip_block ul li p {
  color: #515151;
  font-weight: 400;
  margin: 0;
}
.new_subscription_block .plan_comment .tippy-box[data-placement^=bottom] > .tippy-arrow, .new_subscription_block .plan_comment .tippy-box[data-placement^=top] > .tippy-arrow {
  display: block;
  color: white;
}
.new_subscription_block .plan_comment .tippy-box[data-placement^=bottom] > .tippy-arrow:before, .new_subscription_block .plan_comment .tippy-box[data-placement^=top] > .tippy-arrow:before {
  left: -20px !important;
}
.new_subscription_block .plan_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  border-radius: 6px;
  background: #fff;
  padding: 15px 5px 15px 15px;
  margin: 0;
  list-style: none;
}
.new_subscription_block .plan_details li {
  position: relative;
  width: 48%;
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  padding-left: 22px;
}
@media (min-width: 1230px) {
  .new_subscription_block .plan_details li:last-child {
    margin-top: -16px;
  }
}
@media (max-width: 1230px) {
  .new_subscription_block .plan_details li {
    width: 46%;
  }
}
.new_subscription_block .plan_details li::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 13.9px;
  height: 13.9px;
  background: url(https://conversionratestore.github.io/projects/buzzpatch/img/checkmark_done_complete.svg) no-repeat center center;
  background-size: contain;
}
.new_subscription_block .plan_details.one_time_checked li:nth-child(2),
.new_subscription_block .plan_details.one_time_checked li:nth-child(4),
.new_subscription_block .plan_details.one_time_checked li:nth-child(5) {
  color: #c3c3c3;
}
.new_subscription_block .plan_details.one_time_checked li:nth-child(2)::before,
.new_subscription_block .plan_details.one_time_checked li:nth-child(4)::before,
.new_subscription_block .plan_details.one_time_checked li:nth-child(5)::before {
  content: "";
  background: url(https://conversionratestore.github.io/projects/buzzpatch/img/stop_icon.svg) no-repeat center center;
  background-size: contain;
}

.new_subscription_block + .rtx-subscription-dropdown {
  width: 100%;
  color: #0c0b0b;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  border-radius: 4px;
  border: 2px solid #d3d3d3;
  background: #fff;
  outline: none;
  box-shadow: none;
  padding: 8px 12px;
  background-image: url(//www.natpat.com/cdn/shop/files/select-form-icon.svg?v=374583230437431762);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 8px) center;
  -webkit-appearance: none;
}
.new_subscription_block + .rtx-subscription-dropdown:disabled {
  color: #c3c3c3;
}
.new_subscription_block + .rtx-subscription-dropdown:focus-visible {
  outline-offset: 0 !important;
  outline: none !important;
}
.new_subscription_block + .rtx-subscription-dropdown option {
  background: #fff;
  padding: 8px 16px;
}
.new_subscription_block + .rtx-subscription-dropdown option:selected {
  background-color: blue;
  color: white;
}
.new_subscription_block + .rtx-subscription-dropdown option:hover {
  background-color: lightblue;
}

@media (max-width: 768px) {
  .sticky_block_visible #provesrc-widget-area #provesrc-notification-container {
    bottom: 150px !important;
  }
}
@media (max-width: 768px) and (max-width: 769px) {
  .sticky_block_visible #provesrc-widget-area #provesrc-notification-container {
    bottom: 100px !important;
  }
}
@media (max-width: 768px) {
  .sticky_block {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 0 15px 24px;
    z-index: 1111;
  }
  .sticky_block .choose_your_product_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 40px;
    background: #ff3c81;
    color: #fff;
    font-family: "DINEngschrift LT";
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #newSubscriptionBlock {
    margin: 0 -15px;
    background: #f1f3f4;
    padding: 33px 15px 15px;
  }
  #newSubscriptionBlock .new_subscription_block {
    border-radius: 0;
    background: inherit;
    padding: 0;
    margin: 0 0 15px;
  }
  #newSubscriptionBlock .new_subscription_block .plan_selection {
    gap: 10px;
  }
  #newSubscriptionBlock .new_subscription_block .plan_selection label {
    padding: 11.2px 7px;
  }
  #newSubscriptionBlock .new_subscription_block .plan_selection label.subscribe_save_variant::before {
    padding: 4px 8px 2px 8px;
  }
  #newSubscriptionBlock .new_subscription_block .plan_comment {
    margin: 6px 0;
  }
}
@media (max-width: 768px) and (max-width: 376px) {
  #newSubscriptionBlock .new_subscription_block .plan_comment [data-tippy-root] {
    right: -10px !important;
  }
  #newSubscriptionBlock .new_subscription_block .plan_comment .tippy-box[data-placement^=bottom] > .tippy-arrow:before, #newSubscriptionBlock .new_subscription_block .plan_comment .tippy-box[data-placement^=top] > .tippy-arrow:before {
    left: -10px !important;
  }
}
@media (max-width: 768px) {
  #newSubscriptionBlock .new_subscription_block .plan_details {
    flex-direction: column;
    padding: 12px 17px;
    gap: 12px;
  }
  #newSubscriptionBlock .new_subscription_block .plan_details li {
    width: 100%;
    line-height: 18px;
  }
  #newSubscriptionBlock .new_subscription_block .plan_details li::before {
    top: 50%;
    transform: translateY(-50%);
    width: 13.9px;
    height: 13.9px;
  }
  #newSubscriptionBlock .new_subscription_block .plan_details li:nth-child(1) {
    order: 1;
  }
  #newSubscriptionBlock .new_subscription_block .plan_details li:nth-child(2) {
    order: 4;
  }
  #newSubscriptionBlock .new_subscription_block .plan_details li:nth-child(3) {
    order: 2;
  }
  #newSubscriptionBlock .new_subscription_block .plan_details li:nth-child(4) {
    order: 5;
  }
  #newSubscriptionBlock .new_subscription_block .plan_details li:nth-child(5) {
    order: 3;
  }
}
.custom_dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
.custom_dropdown .dropdown_toggle {
  position: relative;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  border: 2px solid #d3d3d3;
  background: #fff;
  padding: 8px 12px;
  cursor: pointer;
  color: #0c0b0b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.custom_dropdown .dropdown_toggle.disabled {
  pointer-events: none;
  color: #c3c3c3;
  opacity: 0.7;
}
.custom_dropdown .dropdown_toggle::after {
  content: "";
  position: absolute;
  background-image: url(//www.natpat.com/cdn/shop/files/select-form-icon.svg?v=374583230437431762);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.custom_dropdown .dropdown_toggle.active::after {
  transform: rotateX(180deg) translateY(50%);
}
.custom_dropdown .dropdown_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #d3d3d3;
  background-color: #fff;
  z-index: 5;
  margin-top: 1px;
}
.custom_dropdown .dropdown_menu.show {
  display: block;
}
.custom_dropdown .text_transform {
  text-transform: lowercase;
}
.custom_dropdown .most_common {
  color: #717171;
}
.custom_dropdown .dropdown_item {
  padding: 5px 10px;
  color: #0c0b0b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.custom_dropdown .dropdown_item.selected {
  background: #1f4fc9;
  color: white;
}
.custom_dropdown .dropdown_item.selected .most_common {
  color: white;
}
.custom_dropdown .dropdown_item:hover {
  background: #1f4fc9;
  color: white;
}
.custom_dropdown .dropdown_item:hover .most_common {
  color: white;
}/*# sourceMappingURL=main.css.map */